Repository saumsh100/newFrontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-7239: add inline editing feature flag (#1031)
  client/micro-front-ends/settings/workflow.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-7333: change colors to warning colors (#1035)
  client/components/LastSyncDisplay/styles.scss
Due: npm run format, npm run format:css

Hotfix/reskin (#1036)
  client/components/Dashboard/DonnaToDoListContainer/Tasks/reskin-styles.scss
  client/components/Dashboard/PatientInsightsContainer/Insights/reskin-styles.scss
  client/components/Schedule/DayView/TimeSlot/AppointmentHours.jsx
  client/components/Schedule/DayView/TimeSlot/ShowAppointment/index.jsx
  client/components/Schedule/DayView/TimeSlot/helpers.js
  client/components/Schedule/DayView/TimeSlot/index.jsx
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/reskin-styles.scss
  client/components/Settings/Practitioners/styles.scss
  client/components/Settings/Reasons/styles.scss
  client/components/library/Button/reskin.styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-7360: fix overflow css (#1045)
  client/components/MainRegion/reskin-styles.scss
Due: npm run format, npm run format:css

Hotfix/Reskin (#1039)
  client/components/Chat/MessageContainer/MessageBubble/styles.scss
  client/components/Dashboard/DonnaToDoListContainer/DonnaToDoTabs/index.jsx
  client/components/Patients/PatientInfo/TopDisplay/index.jsx
  client/components/Settings/Practitioners/PractitionerListFilter.jsx
  client/components/Settings/Practitioners/PractitionersHeader.jsx
  client/components/WaitingRoom/WaitingRoomList/index.jsx
  client/components/WaitingRoom/WaitingRoomList/styles.scss
  client/components/Widget/Booking/DateTime/styles.scss
  client/components/Widget/Booking/Practitioners/styles.scss
  client/components/Widget/Booking/styles.scss
  client/components/Widget/Header/styles.scss
  client/components/Widget/index.jsx
  client/components/library/Button/reskin.styles.scss
  client/components/library/DataSlot/index.jsx
  client/components/library/DropdownSuggestion/styles.scss
  client/components/library/ScheduleCalendar/single-date.scss
  client/components/library/WidgetCard/styles.scss
  public/onlinebooking.html
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-7318 checks added for media pixel label (#1047)
  client/widget/carecru.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Adding appointmentId in Request schema (#1048)
  client/entities/models/Request.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

add back button on Patient profile (#1053)
  client/components/Patients/PatientInfo/TopDisplay/index.jsx
  client/components/Patients/PatientInfo/TopDisplay/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

fix Invitation buttons (#1049)
  client/components/Settings/Practice/Users/styles.scss
Due: npm run format, npm run format:css

fix reskin setting page issues (#1050)
  client/components/Settings/Practice/SuperAdmin/styles.scss
  client/components/Settings/Reasons/ReasonHours/styles.scss
  client/components/library/StandardButton/styles.scss
Due: npm run format, npm run format:css

CBUG-2631 add Button's and toggle color (#1058)
  client/components/Schedule/AddPatientSuggestions/index.jsx
  client/components/Schedule/ConfirmAppointmentRequest/AppointmentSuggestions.jsx
  client/components/Widget/components/Button/styles.scss
  client/components/library/Form/FormButton.jsx
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CBUG-2553 | fixing timezone issue when syncing office hours and practitioner schedule last day (#1052)
  client/components/Settings/Practice/OfficeHours/OfficeHoursCalendar.jsx
  client/components/Settings/Practice/OfficeHours/thunks.js
  client/components/Settings/Practitioners/PractitionerTabs/PractitionerOfficeHours/PractitionerHoursCalendar.jsx
  client/components/Settings/Practitioners/PractitionerTabs/PractitionerOfficeHours/thunks.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-2564: usa format from date-fns (#1059)
  client/components/ReportParametersForm/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-2615-Filter on Patient profile has old color scheme (#1051)
  client/components/Patients/PatientInfo/FilterTimeline/index.jsx
  client/components/Patients/PatientInfo/FilterTimeline/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CBUG-2651 Patient profile page is distorted (#1063)
  client/components/Patients/PatientInfo/TopDisplay/styles.scss
  client/components/Patients/PatientInfo/styles.scss
Due: npm run format, npm run format:css

CBUG-2652 fix: intelligence page account selector style (#1061)
  client/components/library/MultiSelectAccount/styles.scss
Due: npm run format, npm run format:css

CBUG-2624 Accept/Reject buttons are not aligned correctly on the online request (#1054)
  client/components/Requests/RequestPopover/index.jsx
  client/components/Requests/RequestPopover/reskin-styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

fix wailtlist page (#1062)
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/WaitListTableFooter/footerStyles.scss
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/WaitListTableHeader/reskin-headerStyles.scss
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/reskin-styles.scss
  client/components/Schedule/Header/Waitlist/tableStyles.scss
  client/components/library/StandardButton/styles.scss
Due: npm run format, npm run format:css

CBUG-2495: fix padding (#1064)
  client/components/Chat/MessageContainer/MessageTextArea/styles.scss
Due: npm run format, npm run format:css

CRU-7135 : Associate patient profile with waitlist request (#1056)
  client/components/Schedule/AddNewAppointment/index.jsx
  client/components/Schedule/ConfirmAppointmentRequest/index.jsx
  client/components/Schedule/Header/Waitlist/helpers.jsx
  client/entities/models/Request.js
  client/thunks/schedule.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-2625: improve schedule page responsivity (#1069)
  client/components/Schedule/Header/CurrentDate/index.jsx
  client/components/Schedule/Header/CurrentDate/reskin-styles.scss
  client/components/Schedule/Header/CurrentDate/styles.scss
  client/components/Schedule/Header/index.jsx
  client/components/Schedule/Header/reskin-styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

feat: enable enterprise management in CCP fronted (#1060)
  client/apps/default.js
  client/containers/DashboardApp.jsx
  client/micro-front-ends/MicroFrontendRenderer.jsx
  client/routes/Dashboard.jsx
  client/styles/default.scss
  package-lock.json
  package.json
  server/index.js
  webpack/helpers/moduleLoaders.js
  webpack/webpack.config.ccp.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CBUG-2619: fix donna image size (#1066)
  client/components/Dashboard/DonnaToDoListContainer/DonnaToDoTabs/index.jsx
  client/components/Dashboard/DonnaToDoListContainer/DonnaToDoTabs/reskin-styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CBUG-2626 : waitlist pill size for big number and pill colors (#1068)
  client/components/Dashboard/PatientInsightsContainer/Insights/reskin-styles.scss
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/reskin-styles.scss
  client/components/Settings/Practitioners/styles.scss
  client/components/Settings/Reasons/styles.scss
Due: npm run format, npm run format:css

CBUG-2654: fix icon button layout (#1067)
  client/components/Settings/Practice/SuperAdmin/styles.scss
Due: npm run format, npm run format:css

fix: reset port to 80 (#1072)
  server/index.js
Due: none

CBUG-2555: add catch situation when fetching chat messages (#1055)
  client/thunks/chat.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Cbug 2613 cbug 2495 cbug 2654 cbug 2626 (#1073)
  client/components/Chat/MessageContainer/MessageTextArea/styles.scss
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/reskin-styles.scss
  client/components/Schedule/Header/Waitlist/tableStyles.scss
  client/components/Settings/Reasons/ServiceDataContainer.jsx
  client/components/Settings/Reasons/styles.scss
  client/components/library/DataTable/styles.scss
  client/components/library/ScheduleCalendar/InputGroup.jsx
  client/components/library/ScheduleCalendar/modal.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

fix: button component (#1078)
  client/components/library/AppointmentPopover/AppointmentInfo.jsx
  client/components/library/PatientPopover/PatientProfile.jsx
  client/components/library/ScheduleCalendar/modal.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CBUG-2495 - The warning message ui for not poc is showing old color scheme (#1077)
  client/components/Chat/MessageContainer/MessageTextArea/styles.scss
  package.json
Due: npm run format, npm run format:css

fix/CBUG-2619: force size to any screen (#1074)
  client/components/Dashboard/DonnaToDoListContainer/DonnaToDoTabs/reskin-styles.scss
Due: npm run format, npm run format:css

Cbug 2655 cbug 2666 (#1082)
  client/components/Patients/PatientInfo/index.jsx
  client/components/library/DropdownSelect/reskin-styles.scss
  client/components/library/DropdownTimeSuggestion/SuggestionInput.jsx
  client/components/library/DropdownTimeSuggestion/index.jsx
  client/components/library/DropdownTimeSuggestion/styles.scss
  client/components/library/StandardButton/index.jsx
  client/components/library/StandardButton/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Cbug 2624 (#1080)
  client/components/library/PatientPopover/reskin-styles.scss
Due: npm run format, npm run format:css

feat: em practice switcher (#1071)
  client/components/NavList/reskin-styles.scss
  client/components/NavRegion/reskin-styles.scss
  client/containers/DashboardApp.jsx
  package-lock.json
  package.json
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

React upgrade (#1085)
  package-lock.json
  package.json
Due: none

pipeline version updated (#1086)
  Jenkinsfile
Due: none

CRU-7311 | Resolve styling conflict for Waitlist MFE in CCP. (#1087)
  client/components/Schedule/Header/index.jsx
  client/components/Schedule/Header/reskin-styles.scss
  webpack/shared/webpack.common.js
  webpack/webpack.config.ccp.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

fix: remove height limitation (#1088)
  client/components/NavList/reskin-styles.scss
Due: npm run format, npm run format:css

Path conditions:
  npm run format: (any of: client/**/*.scss) or (any of: client/**/*.{js,jsx})
  npm run format:css: any of: client/**/*.scss
  prettier --write: any of: client/**/*.{js,jsx}
  eslint --fix -c .eslintrc: any of: client/**/*.{js,jsx}
