Repository saumsh100/newFrontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

.lintstagedrc:

{
  "client/**/*.scss": [
    "npm run format",
    "npm run format:css",
    "git add"
  ],
  "client/**/*.{js,jsx}": [
    "npm run format",
    "prettier --write",
    "eslint --fix -c .eslintrc",
    "git add"
  ]
}

Cru 3697/waitlist UI pagination pre and after implementaion performance (#523)
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

feat: change backend url (#525)
  Jenkinsfile
Due: none

CRU-3530 remove playground from global admin (#524)
  client/components/Admin/Playground/index.jsx
  client/components/Admin/Playground/styles.scss
  client/components/NavList/index.jsx
  client/components/SubTabs/index.jsx
  client/routes/Admin/Enterprises.jsx
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Cru 3446: Waitlist patient search (#526)
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/FilterBar.jsx
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/FilterSegments/WaitlistSearch.jsx
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/FilterSegments/styles.scss
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/filterFunctions.jsx
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

feat: add oathkeeper to CCP dev env (#527)
  Jenkinsfile
Due: none

feat: CRU-3665-waitlist ui updates (#529)
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/WaitListTableFooter/footerStyles.scss
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/styles.scss
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/tableStyles.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-3728 removed code dependencies on localStorage jwt token (#528)
  client/components/Admin/Enterprises/List/styles.scss
  client/components/Calls/index.jsx
  client/components/Dashboard/index.jsx
  client/components/GraphQLPatientSearch/composeAddPatientSearchMutation.js
  client/components/GraphQLPatientSearch/index.jsx
  client/components/Patients/Shared/PatientActionsContainer/index.jsx
  client/components/Settings/Practice/General/index.jsx
  client/components/Settings/Practice/SuperAdmin/index.jsx
  client/components/library/RouterList/index.jsx
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-3105 - Update Inline Edits merge tags (#531)
  client/components/WaitingRoom/NotifyPatientForm/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-1934 - VWR Blocks of appt referring the later time (#534)
  client/components/WaitingRoom/WaitingRoomList/WaitingRoomListItem/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-3773/add-account-data-missing (#536)
  client/components/Settings/SettingsSubNav.jsx
  client/micro-front-ends/settings/workflow.jsx
  client/routes/Dashboard/Settings.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix: search patientUser's on waitlist (#537)
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/filterFunctions.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

feat: build prod/test image every pr commit (#530)
  Jenkinsfile
Due: none

feat: add organization, external id and csm account owner (#538)
  client/components/Admin/Enterprises/CreateAccount/AddEnterprise/index.jsx
  client/components/Admin/Enterprises/CreateAccount/ClinicDetails/index.jsx
  client/components/Admin/Enterprises/CreateAccount/EnterpriseForm.jsx
  client/components/Admin/Enterprises/CreateAccount/PracticeForm.jsx
  client/components/Admin/Enterprises/CreateAccount/RenameForm/index.jsx
  client/components/Admin/Enterprises/CreateAccount/index.jsx
  client/components/Admin/Enterprises/Form/index.jsx
  client/components/Admin/Enterprises/List/AccountsSubComponent/index.jsx
  client/components/Admin/Enterprises/List/index.jsx
  client/components/Settings/Practice/SuperAdmin/SuperAdminForm.jsx
  client/components/library/Form/RFComponents/RFSuperAdminPicker.jsx
  client/components/library/Form/RFComponents/index.js
  client/components/library/Form/field.scss
  client/components/library/PropTypeShapes/accountShape.js
  client/components/library/PropTypeShapes/enterpriseShape.js
  client/entities/collections/superadmins.js
  client/entities/models/Account.js
  client/entities/models/Enterprise.js
  client/entities/models/Superadmin.js
  client/reducers/entities.js
  public/images/patient_7.png
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

fix: remove frontend redirect when no jwt present (#535)
  client/thunks/auth/index.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

feat: add zendesk widget (#540)
  public/index.html
Due: none

infra: update webpack to v 5 (#541)
  package-lock.json
  package.json
  webpack/helpers/moduleLoaders.js
  webpack/shared/dev-server.config.js
  webpack/shared/webpack.common.js
  webpack/webpack.config.ccp.js
  webpack/webpack.config.server.js
  webpack/webpack.config.widget.js
  webpack/webpack.prod.js
Due: none

CRU-3304 asynchronous enterprise search (#532)
  client/components/Admin/Enterprises/List/AccountsSubComponent/index.jsx
  client/components/Admin/Enterprises/List/GroupTable.jsx
  client/components/Admin/Enterprises/List/ManageCell.jsx
  client/components/Admin/Enterprises/List/Shared/helpers.js
  client/components/Admin/Enterprises/List/Shared/helpers.test.js
  client/components/Admin/Enterprises/List/groupTable.test.jsx
  client/components/Admin/Enterprises/List/index.jsx
  client/components/Admin/Enterprises/List/index.test.jsx
  client/components/Admin/Enterprises/List/manageCell.test.jsx
  package.json
  tests/util/jestSetup.js
  tests/util/test-utils.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

infra: remove browser sync and let devServer manage launch and hot reload (#544)
  .env.example
  README.md
  package-lock.json
  package.json
  webpack/shared/dev-server.config.js
  webpack/webpack.config.ccp.js
Due: none

fix: chat message rendering issue (#542)
  client/thunks/chat.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Fix for avalibilties issue on booking widget (#545)
  client/components/Widget/Booking/DateTime/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-2999 enhance unsubscribe page for patients (#546)
  client/components/My/PatientPage/Shared/Section/styles.scss
  client/components/My/PatientPage/Shared/getParameterByName.js
  client/components/My/PatientPage/Unsubscribe/index.jsx
  client/components/My/PatientPage/Unsubscribe/styles.scss
  client/components/My/PatientPage/index.jsx
  client/components/My/PatientPage/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

fix: bind error message for widget signup (#550)
  client/components/library/Form/validate.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

5.3.0 (#539)
  client/components/Settings/Practice/OnlineBooking/PreferencesForm.jsx
  client/components/Settings/Practice/OnlineBooking/index.jsx
  client/components/Settings/Practice/OnlineBooking/styles.scss
  client/components/library/PropTypeShapes/accountShape.js
  client/entities/models/Account.js
  client/thunks/auth/index.js
  client/widget/carecru.js
  client/widget/ui.js
  package-lock.json
  package.json
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Apply commits removed in the release 5.3.0 (#553)
  client/components/Settings/Practice/OnlineBooking/PreferencesForm.jsx
  client/components/Settings/Practice/OnlineBooking/index.jsx
  client/components/Settings/Practice/OnlineBooking/styles.scss
  client/components/library/PropTypeShapes/accountShape.js
  client/entities/models/Account.js
  client/widget/carecru.js
  client/widget/ui.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

feat: add-feature-flag-for-book-online-button-label (#548)
  client/components/Settings/Practice/OnlineBooking/PreferencesForm.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-3813/update-workflow-communications-settings (#554)
  client/components/Patients/PatientInfo/EditDisplay/SettingsForm/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-3930 Enterprise sorting updated at (#556)
  client/components/Admin/Enterprises/List/GroupTable.jsx
  client/entities/models/Enterprise.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Send bookingRequestId in accept appointment api (#549)
  client/components/Schedule/AddNewAppointment/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

chore(DEVOPS-1943): Specify library version (#558)
  Jenkinsfile
Due: none

fix: CRU-3929/intermittent issue unable to see latest message in chat (#557)
  client/components/Chat/MessageContainer/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix: update when booking button is displayed (#559)
  client/widget/carecru.js
  client/widget/ui.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

feat:update MFE container component (#560)
  client/micro-front-ends/micro-front-end.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-3014 patient settings updated (#551)
  client/components/My/PatientPage/Unsubscribe/PatientPreferencesForm/index.jsx
  client/components/Patients/PatientInfo/EditDisplay/OmitForm/index.jsx
  client/components/Patients/PatientInfo/EditDisplay/SettingsForm/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

5.4.0 (#555)
  package-lock.json
  package.json
Due: none

Revert "fix: remove frontend redirect when no jwt present (#535)" (#563)
  client/thunks/auth/index.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Cru 3797/add create new patient when no patient match at add appointment (#561)
  client/components/Schedule/AddNewAppointment/DisplayForm.jsx
  client/components/Schedule/AddNewAppointment/index.jsx
  client/components/Schedule/AddNewAppointment/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-3778 - Fix utm_source when havent cc param in the URL (#562)
  client/widget/index.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Cru 4007: Capture utm params on booking widget (#566)
  client/thunks/availabilities.js
  client/widget/index.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Cru 3837/online booking widget text changes (#567)
  client/components/Settings/Practice/OnlineBooking/PreferencesForm.jsx
  client/components/Widget/Booking/Complete/index.jsx
  client/components/Widget/Booking/Review/index.jsx
  client/components/Widget/Header/index.jsx
  client/components/Widget/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-3283 Remove download connector button (#569)
  client/components/Settings/Practice/General/index.jsx
  client/components/Settings/Practice/General/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc
