Repository saumsh100/newFrontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-3571/update-container-styles (#568)
  client/components/Dashboard/DonnaToDoListContainer/Tasks/AppointmentReminders/index.jsx
  client/components/Dashboard/DonnaToDoListContainer/Tasks/AppointmentReminders/styles.scss
  client/components/Dashboard/DonnaToDoListContainer/Tasks/PatientRecalls/index.jsx
  client/components/Dashboard/DonnaToDoListContainer/Tasks/PatientRecalls/styles.scss
  client/components/Dashboard/DonnaToDoListContainer/Tasks/ReviewsRequests/index.jsx
  client/components/Dashboard/DonnaToDoListContainer/Tasks/ReviewsRequests/styles.scss
  client/components/Dashboard/PatientInsightsContainer/Insights/index.jsx
  client/components/Dashboard/PatientInsightsContainer/Insights/styles.scss
  client/components/Settings/Practitioners/PractitionerItem.jsx
  client/components/Settings/Practitioners/styles.scss
  client/components/Settings/Reasons/styles.scss
  client/components/library/Avatar/styles.scss
  client/components/library/PatientPopover/index.jsx
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

fix: In setting button-label name and tooltip text change with css (#570)
  client/components/Settings/Practice/OnlineBooking/PreferencesForm.jsx
  client/components/Settings/Practice/OnlineBooking/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-3571/fix-ui-issues (#573)
  client/components/Dashboard/DonnaToDoListContainer/Tasks/AppointmentReminders/index.jsx
  client/components/Dashboard/DonnaToDoListContainer/Tasks/AppointmentReminders/styles.scss
  client/components/WaitingRoom/WaitingRoomList/WaitingRoomListItem/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

fix: form-label-to-create-new-patient-in-quick-add (#572)
  client/components/Schedule/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix: chat-search-issue (#574)
  client/components/Chat/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

5.5.0 (#571)
  package-lock.json
  package.json
Due: none

Sending document referrer in requests api (#575)
  client/thunks/availabilities.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

docs: update PR template (#577)
  .github/PULL_REQUEST_TEMPLATE
Due: none

Cru 4043/cannot click on new msg in chat type patient name (#578)
  client/components/Chat/ChatList/index.jsx
  client/components/Chat/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-4012/create new patient form allowing users to add the future date as birthdate (#580)
  client/components/library/Form/validate.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix: CRU-4106/conversation component keeps loading when switching pages (#581)
  client/components/Chat/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-4032 : Sending document.referrer in send booking request API (#582)
  client/components/Widget/index.jsx
  client/reducers/availabilities.js
  client/thunks/availabilities.js
  client/widget/index.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-4129 : Handled ref parameter at the end of iframe source (#585)
  client/widget/index.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

5.6.0 (#584)
  package-lock.json
  package.json
Due: none

CBUG-1998 - Reviews Link Opening Online Scheduler instead of Reviews Popup Window (#586)
  client/widget/index.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

5.6.1 (#587)
  package-lock.json
  package.json
Due: none

CRU-4172 - document.referrer value is not being captured and stored in Requests table (#588)
  client/widget/index.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-4172 - Avoid to add multiple times the same utm query parameter (#589)
  client/widget/index.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG/1988 care cru screen goes black (#593)
  client/components/Patients/PatientInfo/EditDisplay/SettingsForm/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix: CRU-2701/blank practitioner schedule page (#590)
  client/components/Settings/Practitioners/PractitionerTabs/PractitionerOfficeHours/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Fix:CRU/4153 display patient search field starting new conversation (#597)
  client/components/Chat/ToHeader/Desktop.jsx
  client/components/Chat/ToHeader/Hub.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Cbug 2007/fe chat conversation page not loading without a phone no (#596)
  client/components/Chat/MessageContainer/MessageTextArea/index.jsx
  client/reducers/chat.js
  client/thunks/chat.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-4023 reset patient setting forms on cancel (#595)
  client/components/Patients/PatientInfo/EditDisplay/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix: CBUG-2001/chat page showing black page after searching for patient (#598)
  client/components/Chat/MessageContainer/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix: CRU-4146/when moving from different filters in chat page keeps loading (#603)
  client/components/Chat/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix: CBUG-2015/display the phone no in header when no profile (#604)
  client/components/Chat/ToHeader/Desktop.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-4291 | Resolved Screen goes blank when User tries to start a new conversation after selecting an already existing conversation. (#602)
  client/components/Chat/MessageContainer/RetryMessage/RetryMessage.jsx
  client/components/Chat/MessageContainer/index.jsx
  client/components/Chat/index.jsx
  client/reducers/chat.js
  client/thunks/chat.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

feat: share component library with enterprise management micro frontend (#583)
  .env.example
  .npmrc.example
  Jenkinsfile
  client/entries/app.js
  client/entries/bootstrap.js
  client/routes/Dashboard.jsx
  client/routes/MicroFrontend/EnterpriseManagementMFE.jsx
  client/routes/MicroFrontend/ErrorFallback.jsx
  infra/Dockerfile
  infra/terraform/variables.tf
  package-lock.json
  package.json
  webpack/shared/dev-server.config.js
  webpack/webpack.config.ccp.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Revert "feat: share component library with enterprise management micr… (#606)
  .env.example
  .npmrc.example
  Jenkinsfile
  client/entries/app.js
  client/entries/bootstrap.js
  client/routes/Dashboard.jsx
  client/routes/MicroFrontend/EnterpriseManagementMFE.jsx
  client/routes/MicroFrontend/ErrorFallback.jsx
  infra/Dockerfile
  infra/terraform/variables.tf
  package-lock.json
  package.json
  webpack/shared/dev-server.config.js
  webpack/webpack.config.ccp.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Revert "Revert "feat: share component library with enterprise management micr…" (#607)
  .env.example
  .npmrc.example
  Jenkinsfile
  client/entries/app.js
  client/entries/bootstrap.js
  client/routes/Dashboard.jsx
  client/routes/MicroFrontend/EnterpriseManagementMFE.jsx
  client/routes/MicroFrontend/ErrorFallback.jsx
  infra/Dockerfile
  infra/terraform/variables.tf
  package-lock.json
  package.json
  webpack/shared/dev-server.config.js
  webpack/webpack.config.ccp.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

infra: set em mfe host variable (#613)
  .env.example
  Jenkinsfile
  infra/Dockerfile
  webpack/shared/webpack.common.js
Due: none

chore(DEVOPS-1957): update to new credentials (#615)
  Jenkinsfile
Due: none

infra: Stop deploying isolated envs (#618)
  Jenkinsfile
Due: none

CRU-4244 removed cancel and save button from patient family setting (#617)
  client/components/Patients/PatientInfo/EditDisplay/FamilyForm/index.jsx
  client/components/Patients/PatientInfo/EditDisplay/index.jsx
  client/components/Patients/PatientInfo/graphQL/addPatientToFamily.jsx
  client/components/Patients/PatientInfo/graphQL/makePatientHeadOfFamily.jsx
  client/components/Patients/PatientInfo/graphQL/removePatientFromFamily.jsx
  client/containers/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Cru 4080/phone lookup UI display phone number status in chat (#619)
  client/components/Chat/PatientInfo/About/PhoneLookupComponent.jsx
  client/components/Chat/PatientInfo/About/index.jsx
  client/components/Chat/PatientInfo/About/styles.scss
  client/components/Chat/PatientInfo/index.jsx
  client/components/library/PointOfContactBadge/PhoneLookupBadge.jsx
  client/components/library/PointOfContactBadge/index.jsx
  client/components/library/PointOfContactBadge/styles.scss
  client/reducers/chat.js
  client/thunks/chat.js
  client/thunks/fetchEntities/createEntityRequest.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

infra: remove call to deploy Application (#622)
  Jenkinsfile
Due: none

CRU-4023 patient setting dialog height should be consistent (#620)
  client/components/Patients/PatientInfo/EditDisplay/FamilyForm/styles.scss
  client/components/Patients/PatientInfo/EditDisplay/index.jsx
  client/components/Patients/PatientInfo/EditDisplay/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Merge branch 'CRU-4258-error-page' (#621)
  client/apps/DashboardEntry.jsx
  client/apps/ReviewsEntry.jsx
  client/components/Chat/index.jsx
  client/components/ErrorBoundary/index.jsx
  client/components/ErrorPage/error-page.scss
  client/components/ErrorPage/index.jsx
  client/components/ModuleError/index.jsx
  client/components/ModuleError/module-error.scss
  package-lock.json
  package.json
  public/images/ErrorMessage.png
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Path conditions:
  npm run format: (any of: client/**/*.scss) or (any of: client/**/*.{js,jsx})
  npm run format:css: any of: client/**/*.scss
  prettier --write: any of: client/**/*.{js,jsx}
  eslint --fix -c .eslintrc: any of: client/**/*.{js,jsx}
