Repository saumsh100/newFrontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-8680: add toggle multipleBookingEnabled to practitioner form (#1211)
  client/components/Settings/Practitioners/PractitionerTabs/PractitionerBasicData/index.jsx
  client/components/library/PropTypeShapes/practitionerShape.js
  client/entities/models/Practitioners.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Cru 8680 add toggle multiple booking enabled (#1215)
  client/components/Settings/Practitioners/PractitionerTabs/PractitionerBasicData/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-8087: subtract removed patient from count (#1216)
  client/reducers/patientTable.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Key name changed (#1217)
  client/components/Settings/Practitioners/PractitionerTabs/PractitionerBasicData/index.jsx
  client/components/library/PropTypeShapes/practitionerShape.js
  client/entities/models/Practitioners.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Cru 8087 collapse table after logged recall (#1219)
  client/components/Patients/PatientTable/index.jsx
  client/reducers/patientTable.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

github actions build (#1224)
  .github/workflows/build.yml
Due: none

Update build.yml
  .github/workflows/build.yml
Due: none

CRU-8768: remove chair scheduling toggle (#1222)
  client/components/Settings/Practice/OnlineBooking/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

FREQ-425: create refresh notification pop up (#1226)
  client/components/RefreshNotification/RefreshNotification.view.jsx
  client/components/RefreshNotification/index.jsx
  client/components/RefreshNotification/styles.scss
  client/containers/DashboardApp.jsx
  public/images/refresh.svg
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CBUG-2775: fix scroll (#1227)
  client/components/Requests/reskin-styles.scss
Due: npm run format, npm run format:css

Cbug 2775 fix online request list scroll (#1228)
  client/components/Requests/reskin-styles.scss
  public/index.html
Due: npm run format, npm run format:css

fix: add ROLE rule for EM access (#1230)
  client/components/TopBar/AdaptiveLogo.jsx
  client/components/TopBar/LogoButton.jsx
  client/containers/DashboardApp.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

feat: add new fields to Intercom as per requested for DentalCorp (#1232)
  client/apps/DashboardEntry.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Prefill suggested practitioner and chair Id in accept appointment modal (#1233)
  client/components/Schedule/AddNewAppointment/DisplayForm.jsx
  client/entities/models/Request.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

FE list Cancellations , Time frame and delete opening (#1231)
  client/components/Dashboard/AppsRequestsContainer/reskin-styles.scss
  client/components/Requests/CancellationData/CancellationList.jsx
  client/components/Requests/CancellationData/CancellationListItem.jsx
  client/components/Requests/CancellationData/TimeFrameSetting.jsx
  client/components/Requests/CancellationData/styles.scss
  client/components/Requests/CancellationData/thunks.js
  client/components/Requests/MonthDay.jsx
  client/components/Requests/RequestData.jsx
  client/components/Requests/index.jsx
  client/components/Requests/reskin-styles.scss
  client/constants/index.js
  client/entities/models/Account.js
  client/styles/ui-reskin.scss
  client/util/isomorphic.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-8899: fix nav bar css (#1234)
  client/components/NavList/reskin-styles.scss
Due: npm run format, npm run format:css

CRU-8839-[Waitlist2] FE add cancellations count on schedule page notification point (#1236)
  client/actions/schedule.js
  client/components/NavList/index.jsx
  client/components/Requests/CancellationData/CancellationList.jsx
  client/components/Requests/CancellationData/CancellationListItem.jsx
  client/components/Requests/CancellationData/TimeFrameSetting.jsx
  client/components/Requests/CancellationData/styles.scss
  client/components/Requests/index.jsx
  client/constants/index.js
  client/reducers/schedule.js
  client/styles/default.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Access for Super Admin to edit the time frame settting (#1237)
  client/components/Requests/CancellationData/TimeFrameSetting.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-8851 : Fixing issues in cancellation time frame settings (#1238)
  client/components/Requests/CancellationData/CancellationList.jsx
  client/components/Requests/CancellationData/TimeFrameSetting.jsx
  client/components/Requests/CancellationData/thunks.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-8842 : Added new API keys for cancellations list (#1240)
  client/components/Requests/CancellationData/CancellationList.jsx
  client/components/Requests/CancellationData/CancellationListItem.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Fixed math functions deprecation issue (#1239)
  client/components/Admin/Connectors/Outbox/styles.scss
  client/components/DonnasOutbox/styles.scss
  client/components/Patients/PatientTable/reskin-styles.scss
  client/components/Patients/PatientTable/styles.scss
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/reskin-styles.scss
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/styles.scss
  client/components/Settings/Donna/Recalls/RecallsItem/styles.scss
  client/components/Settings/Donna/Recalls/styles.scss
  client/components/Settings/Donna/Reminders/RemindersItem/styles.scss
  client/components/Settings/Donna/Reminders/styles.scss
  client/components/Settings/Donna/Reviews/ReviewItem/styles.scss
  client/components/Settings/Donna/Reviews/styles.scss
  client/components/Settings/Shared/IconCircle/styles.scss
  client/components/Settings/Shared/TinyDeleteButton/styles.scss
  client/components/library/DataTable/styles.scss
  client/styles/ui.scss
Due: npm run format, npm run format:css

Cancelled on tool tip fix (#1241)
  client/components/Requests/CancellationData/CancellationList.jsx
  client/components/Requests/CancellationData/CancellationListItem.jsx
  client/components/Requests/CancellationData/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Time frame fix for user role (#1242)
  client/components/Requests/CancellationData/TimeFrameSetting.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Frontend US Prod migration support for DEVOPS-4705 (#1243)
  Jenkinsfile
Due: none

CRU-8926-[Waitlist2] FE redirect on waitlist when click on Fill Cancellation Button (#1244)
  client/actions/schedule.js
  client/components/Chat/index.jsx
  client/components/Requests/CancellationData/CancellationListItem.jsx
  client/components/Requests/index.jsx
  client/components/Schedule/Header/index.jsx
  client/components/library/Filters/index.jsx
  client/constants/index.js
  client/reducers/schedule.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-9005: add cancelations to notifications counter (#1248)
  client/actions/schedule.js
  client/apps/DashboardEntry.jsx
  client/components/NavList/index.jsx
  client/components/TopBar/index.jsx
  client/constants/index.js
  client/reducers/schedule.js
  client/thunks/cancelations.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

feat: change all group text incidences to enterprise (#1249)
  client/components/Admin/Enterprises/CreateAccount/EnterpriseForm.jsx
  client/components/Admin/Enterprises/List/GroupTable.jsx
  client/components/Admin/Enterprises/List/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-8827 : FE cancellations filter inside waitlist (#1250)
  client/actions/schedule.js
  client/components/Requests/CancellationData/CancellationList.jsx
  client/components/Requests/CancellationData/CancellationListItem.jsx
  client/components/Schedule/Header/index.jsx
  client/constants/index.js
  client/reducers/schedule.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix-time-frame-setting-dropdown
  client/components/Requests/CancellationData/CancellationListItem.jsx
  client/components/Requests/CancellationData/TimeFrameSetting.jsx
  client/components/Requests/CancellationData/styles.scss
  client/styles/default.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

fix-time-frame-setting-dropdown
  client/components/Requests/CancellationData/TimeFrameSetting.jsx
  client/components/Requests/CancellationData/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Path conditions:
  npm run format: (any of: client/**/*.scss) or (any of: client/**/*.{js,jsx})
  npm run format:css: any of: client/**/*.scss
  prettier --write: any of: client/**/*.{js,jsx}
  eslint --fix -c .eslintrc: any of: client/**/*.{js,jsx}
