Repository saumsh100/newFrontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

.lintstagedrc:

{
  "client/**/*.scss": [
    "npm run format",
    "npm run format:css",
    "git add"
  ],
  "client/**/*.{js,jsx}": [
    "npm run format",
    "prettier --write",
    "eslint --fix -c .eslintrc",
    "git add"
  ]
}

Cbug 1659 refreshing reloading any of the ur ls leads to a blank screen (#439)
  server/helpers/utils.js
  server/index.js
  server/routes/my.js
  server/routes/widget.js
Due: none

feat: add production pipeline (#438)
  Jenkinsfile
Due: none

feat: change workflow frontend url (#440)
  Jenkinsfile
Due: none

CBUG-1686_update-ccp-frontend-configuration-to-set-a-custom-port-running-out-of-ports (#441)
  .env.example
  Jenkinsfile
  README.md
  infra/Dockerfile
  package.json
  server/index.js
  webpack/helpers/moduleLoaders.js
  webpack/helpers/utils.js
  webpack/shared/dev-server.config.js
  webpack/shared/webpack.common.js
  webpack/webpack.config.ccp.js
  webpack/webpack.config.server.js
  webpack/webpack.config.widget.js
Due: none

5.0.0 (#442)
  package-lock.json
  package.json
Due: none

feat: add NODE_ENV (#443)
  infra/Dockerfile
Due: none

5.0.1 (#445)
  client/apps/DashboardEntry.jsx
  package-lock.json
  package.json
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix: intercom (#444)
  Jenkinsfile
  infra/Dockerfile
  infra/terraform/main.tf
  infra/terraform/variables.tf
Due: none

fix: update delete docker images function (#446)
  Jenkinsfile
Due: none

Cbug 1689 after user click reset password from email it does not land to correct page for reset (#447)
  client/components/My/PatientPage/ConfirmedEmail/index.jsx
  client/components/My/PatientPage/ResetPassword/index.jsx
  client/routes/My.jsx
  server/routes/my.js
  webpack/helpers/utils.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

5.0.2 (#449)
  package-lock.json
  package.json
Due: none

Chore/Update routes and feature flag settings for workflows (#448)
  client/components/Settings/SettingsSubNav.jsx
  client/components/SubTabs/index.jsx
  client/micro-front-ends/settings/workflow.jsx
  client/routes/Dashboard/Settings.jsx
  package-lock.json
  package.json
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Chore/remove FF wait-room to use the same of reminders (#451)
  client/components/Settings/SettingsSubNav.jsx
  client/micro-front-ends/settings/workflow.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Minor hotfix for production bug 2021-04-30 (#450)
  client/apps/DashboardEntry.jsx
  client/components/Dashboard/DonnaToDoListContainer/index.jsx
  client/components/Dashboard/RevenueContainer/RevenueChart/index.jsx
  client/components/GraphQL/PatientFollowUps/fetchFollowUpTypes.jsx
  client/components/Patients/PatientInfo/FollowUps/FollowUpsForm.jsx
  client/components/library/ScheduleCalendar/navbar.scss
  client/thunks/dashboard.js
  public/scripts/fullStory.js
  public/scripts/intercom.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CBUG-1630 - When a patient has no contact information in his profile and user Text Patient it does not show error to user but when you open console there is a status 500 error (#452)
  .eslintrc
  client/components/Patients/PatientInfo/ActionsDropdown/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-1577 - When user select an emoji in chat , emoji windows does not close automatically (#453)
  client/components/Chat/MessageContainer/MessageTextArea/index.jsx
  client/components/library/DropdownMenu/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

feat: add demo deployment (#455)
  Jenkinsfile
Due: none

5.0.3 (#456)
  package-lock.json
  package.json
Due: none

bugfix - update routes for workflows (#457)
  client/components/Settings/SettingsSubNav.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

5.0.4 (#458)
  package-lock.json
  package.json
Due: none

Fix/production pipeline (#459)
  Jenkinsfile
Due: none

fix: pipeline health check (#460)
  Jenkinsfile
Due: none

CBUG-1544_Waitlist-shows-incomplete-preferred-timing-wordings-in-time… (#454)
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/cells.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Cru 2516 update recare message in patient insights (#462)
  client/components/Dashboard/PatientInsightsContainer/Insights/InsightList.jsx
  client/components/library/index.js
  client/components/library/util/datetime/index.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-1733 - "Text Patient" has been removed from the family member action menu on the Patient card/profile (#461)
  client/components/Patients/PatientInfo/ActionsDropdown/index.jsx
  client/components/Patients/PatientInfo/PatientInfo_Query.js
  client/components/Patients/Shared/Family/index.jsx
  client/components/library/DropdownMenu/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-2516 - Update recare message in Patient Insights (#464)
  client/components/Dashboard/PatientInsightsContainer/Insights/InsightList.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Cbug 1733 text patient has been removed from the family member action menu on the patient cardprofile (#465)
  client/components/Patients/PatientInfo/ActionsDropdown/index.jsx
  client/components/library/DropdownMenu/styles.scss
  client/components/library/List/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

5.0.5 (#466)
  package-lock.json
  package.json
Due: none

CBUG-1743 - Reviews Default message uses old url which no longer is working (#468)
  client/components/Settings/Donna/Reviews/ReviewPreview/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

feat: handle utm parameters on scheduling widget (#469)
  client/components/Widget/index.jsx
  client/reducers/availabilities.js
  client/thunks/availabilities.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-2584 integrate chat into container app (#470)
  .env.example
  client/hocs/withAuthProps.jsx
  client/micro-front-ends/communications/chat.jsx
  client/micro-front-ends/micro-front-end.jsx
  client/routes/Dashboard.jsx
  client/routes/Dashboard/Chat.jsx
  infra/Dockerfile
  public/index.html
  webpack/shared/webpack.common.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Fix feature flag typo (#471)
  client/routes/Dashboard/Chat.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Cbug 1738 reset password button does not work in the link to add the new desired password (#473)
  client/components/My/PatientPage/ResetPassword/index.jsx
  package-lock.json
  package.json
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Cbug 1765 report request patient consent screening form url by practice (#474)
  client/components/Admin/Enterprises/List/GroupTable.jsx
  client/components/Admin/Enterprises/List/index.jsx
  client/components/library/DataTable/index.jsx
  client/components/library/Loading/index.jsx
  client/components/library/Loading/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

fix: show close button for deleted patient (#475)
  client/components/Chat/ToHeader/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix: change subdomain for online booking (#476)
  Jenkinsfile
Due: none

5.1.0 (#477)
  package-lock.json
  package.json
Due: none

CBUG-1782 - Unsubscribe functionality broken (#478)
  client/routes/My.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-2941/update nav to match workflow nav (#479)
  client/components/Settings/SettingsSubNav.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

5.1.1 (#480)
  package-lock.json
  package.json
Due: none
