Repository saumsh100/newFrontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CBUG-2742 Practitioner Schedule not in CCP - Error when clicking (#1149)
  client/components/Chat/ChatList/ChatListItem/index.jsx
  client/components/Chat/ChatList/ChatListItem/reskin-styles.scss
  client/components/Requests/RequestList.jsx
  client/components/Schedule/RejectAppointment/index.jsx
  client/components/Schedule/RejectAppointment/styles.scss
  client/components/library/Alert/index.jsx
  client/components/library/Alert/styles.scss
  client/components/library/DropdownSuggestion/index.jsx
  client/components/library/ScheduleCalendar/EditSchedule.jsx
  client/components/library/ScheduleCalendar/index.jsx
  client/components/library/ScheduleCalendar/schedule.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Change in other rejection reason (#1158)
  client/components/Schedule/RejectAppointment/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-7450-added scroll bar in practitioner tab (#1161)
  client/components/Settings/Practitioners/styles.scss
Due: npm run format, npm run format:css

Cru 8065 (#1159)
  client/components/Patients/PatientTable/HeaderSection/SmartFilters/HelpText.jsx
  client/components/Patients/PatientTable/HeaderSection/SmartFilters/HelpTextLookupTable.js
  client/components/Patients/PatientTable/HeaderSection/SmartFilters/index.jsx
  client/components/Patients/PatientTable/SideBarFilters/index.jsx
  client/components/Patients/Shared/helpers.js
  client/reducers/patientTable.js
  client/thunks/patientTable.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix-automation-of-chat-view (#1156)
  client/components/Chat/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-2183-Assigned practitioner not showing under reasons when first opening the reasons page (#1166)
  client/components/Settings/Reasons/ServicePractitioners/ServicesPractForm.jsx
  client/components/Settings/Reasons/ServicePractitioners/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-2722: Clicking send does not send texts (#1164)
  client/components/Chat/MessageContainer/MessageTextArea/index.jsx
  client/components/Chat/ToHeader/ToggleChatButton.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix: edit user overlap dropdown (#1165)
  client/components/Settings/Practice/Users/index.jsx
  client/components/Settings/Practice/Users/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CBUG-2797: create check condition to create alert (#1167)
  client/thunks/alerts.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

add Maryland in state dropdown (#1168)
  client/components/Settings/Practice/General/Address/selectConstants.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-6316: remove practitioner type null (#1170)
  client/components/Settings/Practitioners/PractitionerTabs/PractitionerBasicData/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix-all-queue-issue (#1174)
  client/components/Chat/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-8278: allow appointment write into adapter type dentrix v80 (#1177)
  client/components/library/util/nonApptWritePMS.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

FE : Show the waitlist details on the online appointment request card (#1171)
  client/components/Requests/RequestData.jsx
  client/components/Requests/RequestListItem.jsx
  client/components/Requests/RequestPopover/index.jsx
  client/components/Requests/RequestPopover/reskin-styles.scss
  client/components/Requests/reskin-styles.scss
  client/components/Schedule/reskin-styles.scss
  client/entities/models/Request.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Wrong POC showing for patient (chat cache) (#1182)
  client/components/Chat/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-3550: remove form service feature flag (#1173)
  client/routes/Dashboard/Settings.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix-reason-issue (#1183)
  client/components/Settings/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-1601: Double clicking on Dentrix appts prompt an empty pop-up fixed (#1184)
  client/components/Schedule/AddNewAppointment/AppointmentForm.jsx
  client/components/Schedule/AddNewAppointment/DisplayForm.jsx
  client/components/Schedule/AddNewAppointment/DisplaySearchedPatient.jsx
  client/components/Schedule/AddNewAppointment/index.jsx
  client/components/Schedule/AddNewAppointment/styles.scss
  client/components/Schedule/index.jsx
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-7359-FE : Show the waitlist details on the online appointment request card (#1187)
  client/components/Requests/RequestData.jsx
  client/components/Requests/RequestPopover/index.jsx
  client/components/Requests/RequestPopover/reskin-styles.scss
  client/components/Requests/index.jsx
  client/components/Requests/reskin-styles.scss
  client/components/Schedule/AddPatientSuggestions/reskin-styles.scss
  client/components/Schedule/reskin-styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

add-design-for-sending-state (#1189)
  client/components/Requests/RequestPopover/reskin-styles.scss
  client/components/Schedule/AddPatientSuggestions/reskin-styles.scss
  client/components/Schedule/reskin-styles.scss
Due: npm run format, npm run format:css

feat: upgrade component library (#1188)
  package-lock.json
  package.json
Due: none

CBUG-2830: fixing appointment data is missing on the Add appointment form (#1190)
  client/actions/schedule.js
  client/components/Schedule/DayView/TimeSlot/ShowAppointment/index.jsx
  client/components/Schedule/index.jsx
  client/constants/index.js
  client/reducers/schedule.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Fixes appointment cancel button for dentrix issue (#1191)
  client/components/Schedule/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix-req-card-css (#1192)
  client/components/Dashboard/AppsRequestsContainer/index.jsx
  client/components/Requests/MonthDay.jsx
  client/components/Requests/RequestData.jsx
  client/components/Requests/RequestList.jsx
  client/components/Requests/RequestListItem.jsx
  client/components/Requests/index.jsx
  client/components/Requests/reskin-styles.scss
  client/components/Schedule/reskin-styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-8327 Update chat preview UI (#1193)
  client/components/Chat/ChatList/ChatListItem/PreviewTooltipText.jsx
  client/components/Chat/ChatList/ChatListItem/index.jsx
  client/components/Chat/ChatList/ChatListItem/reskin-styles.scss
  client/components/Requests/reskin-styles.scss
  client/components/Tooltip/index.jsx
  client/components/library/Avatar/reskin-styles.scss
  client/entities/models/Chat.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

chore: bump version (#1194)
  client/components/Chat/ChatList/ChatListItem/reskin-styles.scss
  package-lock.json
  package.json
Due: npm run format, npm run format:css

fix-patient-user (#1195)
  client/components/Chat/ChatList/ChatListItem/PreviewTooltipText.jsx
  client/components/Chat/ChatList/ChatListItem/index.jsx
  client/components/Chat/ChatList/ChatListItem/reskin-styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Sorting availableTimes for waitlist (#1197)
  client/components/Requests/RequestPopover/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Adding requestingPatientUserId in suggestion params (#1198)
  client/thunks/schedule.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-8327-update css for user avatar and tooltip (#1200)
  client/components/Chat/ChatList/ChatListItem/PreviewTooltipText.jsx
  client/components/Chat/ChatList/ChatListItem/index.jsx
  client/components/Chat/ChatList/ChatListItem/reskin-styles.scss
  client/components/library/Avatar/reskin-styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

feat: Enable EM for Superadmin (#1202)
  client/containers/DashboardApp.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-2701-Filter Follow Ups list by active and inactive patients not working (#1201)
  client/components/Patients/PatientTable/HeaderSection/SmartFilters/index.jsx
  client/components/Patients/PatientTable/SideBarFilters/Demographics/index.jsx
  client/components/Patients/PatientTable/SideBarFilters/FilterTags/index.jsx
  client/components/Patients/PatientTable/SideBarFilters/index.jsx
  client/reducers/patientTable.js
  client/thunks/patientTable.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-8661: enable write for Dentrix Enterprise 11 (#1205)
  client/components/library/util/nonApptWritePMS.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Fix reset Button (#1207)
  client/components/Patients/PatientTable/SideBarFilters/Demographics/index.jsx
  client/components/Patients/PatientTable/SideBarFilters/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-8126: remove patients from recall list in real time (#1206)
  client/reducers/patientTable.js
  client/socket/connectSocketToStoreLogin.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-8064: pass source to createSentRecall mutation (#1208)
  client/components/GraphQL/SentRecalls/createManualSentRecall.jsx
  client/components/Patients/Shared/PatientActionsContainer/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-8497: No patient accountviewer schedule page UX resolved (#1213)
  client/components/library/AppointmentPopover/AppointmentInfo.jsx
  client/components/library/PatientQueryRenderer/index.jsx
  client/components/library/PointOfContactBadge/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix-myFollowup-status (#1214)
  client/components/Patients/PatientTable/SideBarFilters/Demographics/index.jsx
  client/components/Patients/PatientTable/SideBarFilters/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-8675: add missed apptm hygiene recall to lookup table (#1209)
  client/components/Patients/PatientTable/HeaderSection/SmartFilters/HelpTextLookupTable.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-2834: fix and encapsulate new alert logic (#1210)
  client/reducers/alerts.js
  client/thunks/alerts.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Path conditions:
  npm run format: (any of: client/**/*.scss) or (any of: client/**/*.{js,jsx})
  npm run format:css: any of: client/**/*.scss
  prettier --write: any of: client/**/*.{js,jsx}
  eslint --fix -c .eslintrc: any of: client/**/*.{js,jsx}
