Repository saumsh100/newFrontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

.lintstagedrc:

{
  "client/**/*.scss": [
    "npm run format",
    "npm run format:css",
    "git add"
  ],
  "client/**/*.{js,jsx}": [
    "npm run format",
    "prettier --write",
    "eslint --fix -c .eslintrc",
    "git add"
  ]
}

CRU-5075 | FE : Changes for adding SMS not enabled event in patient timeline. (#720)
  client/components/Patients/PatientInfo/Timeline/EventComponents/RecallEvent.jsx
  client/components/Patients/PatientInfo/Timeline/EventComponents/ReminderEvent.jsx
  client/components/Patients/PatientInfo/Timeline/EventComponents/ReviewEvent.jsx
  client/components/Patients/PatientInfo/Timeline/EventComponents/Shared/eventHashMap.js
  client/components/Patients/PatientInfo/Timeline/EventComponents/Shared/textBuilder.js
  client/components/Patients/PatientInfo/Timeline/EventComponents/SmsFailEvent.jsx
  client/components/Patients/PatientInfo/Timeline/EventComponents/index.jsx
  client/components/Patients/PatientInfo/Timeline/EventDateSections/index.jsx
  client/components/Patients/PatientTable/PatientSubComponent/EventsTable.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-5465 : Changing the condition for isFromPatient (#734)
  client/components/Chat/MessageContainer/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

refactor: stop consuming buildDevDockerImageForFrontend function (#733)
  Jenkinsfile
Due: none

CBUG-1943 | Added a default message in case of partial patient profile for an appt synced from PMS. (#732)
  client/components/Schedule/DayView/TimeSlot/ShowMark.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-1943 | missing PMSs added in the list | added a default message in case of partial patient profile for an appt synced from PMS (#736)
  client/components/Schedule/DayView/TimeSlot/ShowMark.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix: CRU-5439/save-button-on-account-settings-in-general (#738)
  client/components/Settings/Practice/General/GeneralForm.jsx
  client/components/Settings/Practice/General/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-5595 | Remove references to Electron/isHub from Chat Module. (#739)
  client/components/Chat/ChatList/ChatListItem/index.jsx
  client/components/Chat/MessageContainer/MessageBubble/index.jsx
  client/components/Chat/MessageContainer/MessageTextArea/index.jsx
  client/components/Chat/ToHeader/Hub.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Removing variable declaration err (#741)
  client/components/Patients/PatientInfo/Timeline/EventComponents/ReminderEvent.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-5593 | Remove references to Electron/isHub from Waitlist Module. (#740)
  client/components/Schedule/Header/Waitlist/AddToWaitlist/index.jsx
  client/components/Schedule/Header/Waitlist/WaitListItem.jsx
  client/components/Schedule/Header/Waitlist/WaitlistTable.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix: CRU-5631/remove-references-to-electron-or-isHub-from-patient-module (#743)
  client/components/Patients/PatientInfo/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-5592 | Remove references to Electron/isHub from Schedule Module. (#744)
  client/components/Schedule/AddNewAppointment/AppointmentForm.jsx
  client/components/Schedule/AddNewAppointment/index.jsx
  client/components/Schedule/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Showing received images in chat (#745)
  client/components/Chat/MessageContainer/MessageBubble/index.jsx
  client/components/Chat/MessageContainer/MessageBubble/styles.scss
  client/entities/models/TextMessage.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-1430 : Recare Workflow Page (#742)
  client/components/Settings/SettingsSubNav.jsx
  client/micro-front-ends/settings/workflow.jsx
  client/routes/Dashboard/Settings.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-1501 | fixing the issue in active practitioner selection by default in settings/practitioners list (#746)
  client/components/Settings/Practitioners/PractitionerList.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

FREQ 484 - form submissions redirect (#748)
  client/components/TopBar/FormNotificationsButton/index.jsx
  client/reducers/__snapshots__/entities.test.js.snap
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Making image clickable (#747)
  client/components/Chat/MessageContainer/MessageBubble/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-1427 | fixing the issue in email/username/password autofill in new user and edit user form (#753)
  client/components/Settings/Practice/Users/EditUserForm/index.jsx
  client/components/Settings/Practice/Users/NewUserForm/index.jsx
  client/components/Settings/Practice/Users/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Fix issue in recall events (#757)
  client/components/Patients/PatientInfo/Timeline/EventComponents/RecallEvent.jsx
  client/components/Patients/PatientInfo/Timeline/EventComponents/Shared/textBuilder.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

feat: add feature flag for styles (#750)
  client/micro-front-ends/settings/forms.jsx
  client/micro-front-ends/settings/workflow.jsx
  client/routes/Dashboard/Settings.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Refactor/remove inline styles (#761)
  client/components/Dashboard/DonnaToDoListContainer/DonnaToDoTabs/index.jsx
  client/components/Dashboard/DonnaToDoListContainer/DonnaToDoTabs/styles.scss
  client/components/Dashboard/DonnaToDoListContainer/Tasks/AppointmentReminders/index.jsx
  client/components/Dashboard/DonnaToDoListContainer/Tasks/AppointmentReminders/styles.scss
  client/containers/DashboardApp.jsx
  client/containers/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-5850 : Added css for dynamic image box (#760)
  client/components/Chat/MessageContainer/MessageBubble/index.jsx
  client/components/Chat/MessageContainer/MessageBubble/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-6019 - Reskin/ Prepare Dashboad Page for Feature Flag (#759)
  client/components/Dashboard/AppsRequestsContainer/AppointmentsList/AppointmentData.jsx
  client/components/Dashboard/AppsRequestsContainer/AppointmentsList/AppointmentPopover/index.jsx
  client/components/Dashboard/AppsRequestsContainer/AppointmentsList/AppointmentPopover/styles.scss
  client/components/Dashboard/AppsRequestsContainer/AppointmentsList/PatientData.jsx
  client/components/Dashboard/AppsRequestsContainer/AppointmentsList/index.jsx
  client/components/Dashboard/AppsRequestsContainer/index.jsx
  client/components/Dashboard/AppsRequestsContainer/styles.scss
  client/components/Dashboard/DonnaToDoListContainer/DonnaToDoTabs/index.jsx
  client/components/Dashboard/DonnaToDoListContainer/DonnaToDoTabs/styles.scss
  client/components/Dashboard/DonnaToDoListContainer/Tasks/AppointmentReminders/index.jsx
  client/components/Dashboard/DonnaToDoListContainer/Tasks/AppointmentReminders/styles.scss
  client/components/Dashboard/DonnaToDoListContainer/Tasks/PatientRecalls/index.jsx
  client/components/Dashboard/DonnaToDoListContainer/Tasks/PatientRecalls/styles.scss
  client/components/Dashboard/DonnaToDoListContainer/Tasks/ReviewsRequests/index.jsx
  client/components/Dashboard/DonnaToDoListContainer/Tasks/ReviewsRequests/styles.scss
  client/components/Dashboard/DonnaToDoListContainer/Tasks/index.jsx
  client/components/Dashboard/DonnaToDoListContainer/Tasks/styles.scss
  client/components/Dashboard/DonnaToDoListContainer/index.jsx
  client/components/Dashboard/DonnaToDoListContainer/styles.scss
  client/components/Dashboard/HeaderUserDate/index.jsx
  client/components/Dashboard/PatientInsightsContainer/Insights/InsightList.jsx
  client/components/Dashboard/PatientInsightsContainer/Insights/InsightsHeader.jsx
  client/components/Dashboard/PatientInsightsContainer/Insights/index.jsx
  client/components/Dashboard/PatientInsightsContainer/Insights/styles.scss
  client/components/Dashboard/PatientInsightsContainer/index.jsx
  client/components/Dashboard/PatientInsightsContainer/styles.scss
  client/components/Dashboard/RevenueContainer/RevenueChart/index.jsx
  client/components/Dashboard/RevenueContainer/RevenueChart/styles.scss
  client/components/Dashboard/RevenueContainer/RevenueDisplay/index.jsx
  client/components/Dashboard/RevenueContainer/RevenueDisplay/styles.scss
  client/components/Dashboard/RevenueContainer/index.jsx
  client/components/Dashboard/RevenueContainer/styles.scss
  client/components/Dashboard/StatsContainer/index.jsx
  client/components/Dashboard/StatsContainer/styles.scss
  client/components/Dashboard/index.jsx
  client/components/Dashboard/newStyles.scss
  client/components/Dashboard/oldStyles.scss
  client/components/Dashboard/styles.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

remove inline CSS for schedule module (#758)
  client/components/Schedule/ConfirmAppointmentRequest/AppointmentSuggestions.jsx
  client/components/Schedule/ConfirmAppointmentRequest/styles.scss
  client/components/Schedule/DayView/ColumnHeader/styles.scss
  client/components/Schedule/DayView/DayViewBody.jsx
  client/components/Schedule/DayView/TimeColumn/TimeColumn.jsx
  client/components/Schedule/DayView/TimeSlot/TimeSlotColumn.jsx
  client/components/Schedule/DayView/TimeSlot/index.jsx
  client/components/Schedule/DayView/styles.scss
  client/components/Schedule/Header/CurrentDate/index.jsx
  client/components/Schedule/Header/CurrentDate/styles.scss
  client/components/Schedule/Header/index.jsx
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CBUG-2176 - Hide Zendesk on online-booking (#762)
  client/apps/Dashboard.jsx
  client/widget/index.js
  public/index.html
  public/scripts/zendesk.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-6031-Remove hardcoded styles from dashboard (#764)
  client/components/Dashboard/AppsRequestsContainer/AppointmentsList/AppointmentData.jsx
  client/components/Dashboard/AppsRequestsContainer/AppointmentsList/AppointmentPopover/index.jsx
  client/components/Dashboard/AppsRequestsContainer/AppointmentsList/AppointmentPopover/styles.scss
  client/components/Dashboard/AppsRequestsContainer/AppointmentsList/PatientData.jsx
  client/components/Dashboard/AppsRequestsContainer/AppointmentsList/index.jsx
  client/components/Dashboard/AppsRequestsContainer/styles.scss
  client/components/Dashboard/DonnaToDoListContainer/Tasks/styles.scss
  client/components/Dashboard/PatientInsightsContainer/Insights/styles.scss
  client/components/Dashboard/RevenueContainer/RevenueChart/styles.scss
  client/components/Dashboard/RevenueContainer/RevenueDisplay/styles.scss
  client/components/Dashboard/newStyles.scss
  client/components/Dashboard/oldStyles.scss
  client/components/library/AppointmentPopover/AppointmentInfo.jsx
  client/components/library/AppointmentPopover/styles.scss
  client/components/library/PatientPopover/PatientProfile.jsx
  client/components/library/PatientPopover/styles.scss
  client/styles/ui.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Fix: CBUG-2187-data-are-distorted-in-the-appointments (#767)
  client/components/Dashboard/AppsRequestsContainer/AppointmentsList/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Error handling for callrail integration (#765)
  client/components/Settings/Practice/SuperAdmin/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-6028:Changes for video player (#783)
  client/components/Chat/MessageContainer/MessageBubble/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Feat: Cru 6103/implement cookie tracking for online scheduling (#813)
  client/components/Widget/index.jsx
  client/reducers/availabilities.js
  client/thunks/availabilities.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-6029 | Updating only the phone no. the field in Account settings>general>Practice should call on updating call forwarding rule. (#832)
  client/components/Settings/Practice/General/GeneralForm.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-6029-updated | Twilio number diabled accounts save button enabled update. (#856)
  client/components/Settings/Practice/General/GeneralForm.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

change requests for backend to oathkeeper as per DEVOPS-1894 (#871)
  Jenkinsfile
Due: none

fixing the issue of waitlist unselecting entries when patient goes into VWR (#898)
  client/components/Schedule/Header/Waitlist/NextWaitlist.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

feat(em auth): update button text to Add Connector User when EM auth enabled (#851)
  client/components/Settings/Practice/Users/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-3334 : Error handling for vendasta integration (#831)
  client/components/Settings/Practice/SuperAdmin/AddAccounts/index.jsx
  client/components/Settings/Practice/SuperAdmin/index.jsx
  client/entities/models/Account.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

update Prod-US FE environment variable API_SERVER for DEVOPS-1897 (#907)
  Jenkinsfile
Due: none

CBUG-2442 | Removing Status filter from Follow-Ups Reports (#910)
  client/components/Patients/PatientTable/SideBarFilters/FilterTags/index.jsx
  client/thunks/patientTable.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-5570 Online scheduling Waitlist- Gives options for weekends when practice is not open (#906)
  client/components/Settings/Practice/OnlineBooking/SchedulingPreviewForm.jsx
  client/components/Widget/Booking/Waitlist/SelectDates/index.jsx
  client/components/Widget/Booking/Waitlist/SelectDates/styles.scss
  client/components/Widget/Booking/Waitlist/SelectDates/thunks.js
  client/util/httpClient.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-6412 | API accounts toggle button not remaining off after disabling. (#921)
  client/components/Settings/Practice/SuperAdmin/AddAccounts/index.jsx
  client/components/Settings/Practice/SuperAdmin/index.jsx
  client/reducers/alerts.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-6412 | Removed Else condition to sort Bulk update issue. (#923)
  client/components/Settings/Practice/SuperAdmin/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc
