Repository saumsh100/newFrontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

.lintstagedrc:

{
  "client/**/*.scss": [
    "npm run format",
    "npm run format:css",
    "git add"
  ],
  "client/**/*.{js,jsx}": [
    "npm run format",
    "prettier --write",
    "eslint --fix -c .eslintrc",
    "git add"
  ]
}

fix:resolve MFE WF loading delay (#481)
  client/micro-front-ends/micro-front-end.jsx
  client/micro-front-ends/settings/workflow.jsx
  package-lock.json
  package.json
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

feat: add development deployment (#482)
  Jenkinsfile
  infra/terraform/container-definition.json
  infra/terraform/databases/container_definition.json
  infra/terraform/main.tf
  infra/terraform/variables.tf
Due: none

feat: add test and prod pipelines (#483)
  Jenkinsfile
Due: none

CRU-3202/fix misc UI issues (#484)
  client/components/Settings/Shared/settings-card.scss
  client/components/TopBar/styles.scss
  client/components/library/DropdownMenu/styles.scss
  client/components/library/Icon/styles.scss
  client/components/library/Tabs/styles.scss
Due: npm run format, npm run format:css

CRU-3092/update-donna-routes (#485)
  client/routes/Dashboard/Settings.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-3225 - Merge Tags Broken VWR (Practice Ready) (#486)
  client/components/WaitingRoom/NotifyPatientForm/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-3225/update-waitroom-sms-template (#487)
  client/components/WaitingRoom/NotifyPatientForm/index.jsx
  client/components/WaitingRoom/WaitingRoomList/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix: use timezone to calculate appointment time (#488)
  client/components/My/PatientPage/ConfirmedAppointment/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-3250/add Forms MFE with a feature flag (#490)
  .env.example
  client/micro-front-ends/settings/forms.jsx
  client/routes/Dashboard/Settings.jsx
  infra/Dockerfile
  webpack/shared/webpack.common.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix:MFE loading issue (#492)
  client/micro-front-ends/micro-front-end.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-3304 Fix enterprise broken page while filtering with empty text (#491)
  client/components/Admin/Enterprises/List/GroupTable.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

5.2.0 (#496)
  package-lock.json
  package.json
Due: none

feat: read account length, clear expanded row on search (#493)
  client/components/Admin/Enterprises/List/AccountsSubComponent/AccountsTable.jsx
  client/components/Admin/Enterprises/List/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

feat: fix modal size for add customer (#495)
  client/components/Admin/Connectors/index.jsx
  client/components/Admin/Enterprises/CreateAccount/EnterpriseList/index.jsx
  client/components/Admin/Enterprises/CreateAccount/index.jsx
  client/components/Admin/Enterprises/CreateAccount/styles.scss
  client/components/Admin/Enterprises/List/index.jsx
  client/components/Admin/Enterprises/List/styles.scss
  client/components/NavList/index.jsx
  client/components/Settings/Practice/SuperAdmin/index.jsx
  client/components/Settings/SettingsSubNav.jsx
  client/components/SubTabs/index.jsx
  client/components/library/ComboBox/index.jsx
  client/components/library/ComboBox/styles.scss
  client/components/library/Form/RFComponents/RFComboBox.jsx
  client/components/library/Form/RFComponents/index.js
  client/components/library/Modal/index.jsx
  client/components/library/index.js
  client/routes/Admin/Connectors.jsx
  client/routes/Admin/Enterprises.jsx
  package-lock.json
  package.json
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-3242 - Waitlist Enhancement 1.0: Performance - UI Pagination (#494)
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/index.jsx
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/styles.scss
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/tableStyles.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

fix:MFE loading issue (#498)
  client/components/Settings/SettingsSubNav.jsx
  client/micro-front-ends/micro-front-end.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix: demo deployment (#489)
  Jenkinsfile
Due: none

CRU-3517 - fix nav styles (#499)
  client/components/Settings/Shared/CommunicationSettingsCard/index.jsx
  client/components/Settings/Shared/CommunicationSettingsCard/styles.scss
  client/components/Settings/Shared/settings-card.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

fix:update workflow global admin tab path (#501)
  client/components/Settings/SettingsSubNav.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix: load button on DOMContentLoaded (#503)
  client/widget/carecru.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Revert "CRU-3242 - Waitlist Enhancement 1.0: Performance (#505)
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/index.jsx
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/styles.scss
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/tableStyles.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

5.2.1 (#506)
  package-lock.json
  package.json
Due: none

CRU-3313/Ability to rename enterprises (#497)
  client/components/Admin/Enterprises/CreateAccount/RenameForm/index.jsx
  client/components/Admin/Enterprises/List/AccountsSubComponent/AccountsTable.jsx
  client/components/Admin/Enterprises/List/AccountsSubComponent/index.jsx
  client/components/Admin/Enterprises/List/EllipsisIcon.jsx
  client/components/Admin/Enterprises/List/GroupTable.jsx
  client/components/Admin/Enterprises/List/ManageCell.jsx
  client/components/Admin/Enterprises/List/index.jsx
  client/components/Admin/Enterprises/List/styles.scss
  client/components/library/DropdownMenu/index.jsx
  client/components/library/Modal/index.jsx
  client/components/library/PropTypeShapes/enterpriseShape.js
  client/components/library/PropTypeShapes/index.js
  client/thunks/fetchEntities/fetchEntitiesRequest.js
  package-lock.json
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

reapply "CRU-3242 - Waitlist Enhancement 1.0: Performance (#505)" (#507)
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/index.jsx
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/styles.scss
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/tableStyles.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Cru 3242/waitlist page and table enhancement UI (#504)
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/WaitListTableHeader/index.jsx
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/index.jsx
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/styles.scss
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/tableStyles.js
  client/components/Schedule/Header/Waitlist/styles.scss
  client/components/Schedule/Header/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

fix: resolve new messages temporarily disappear after being sent (#502)
  client/components/Chat/MessageContainer/PendingMessage/index.jsx
  client/components/Chat/MessageContainer/index.jsx
  client/thunks/chat.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Cru 3315/ability to delete ccp enterprises (#508)
  client/components/Admin/Enterprises/List/GroupTable.jsx
  client/components/Admin/Enterprises/List/ManageCell.jsx
  client/components/Admin/Enterprises/List/index.jsx
  client/components/Admin/Enterprises/List/styles.scss
  client/micro-front-ends/micro-front-end.jsx
  client/widget/carecru.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

feat: add callrailV3Id field (#500)
  client/components/Settings/Practice/SuperAdmin/AddAccounts/index.jsx
  client/components/Settings/Practice/SuperAdmin/CallRail/index.jsx
  client/components/Settings/Practice/SuperAdmin/SuperAdminForm.jsx
  client/components/Settings/Practice/SuperAdmin/index.jsx
  client/components/library/PropTypeShapes/accountShape.js
  client/entities/models/Account.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-3525 add ability to delete practices (#510)
  client/components/Admin/Enterprises/List/AccountsSubComponent/AccountsTable.jsx
  client/components/Admin/Enterprises/List/AccountsSubComponent/index.jsx
  client/components/Admin/Enterprises/List/ManageCell.jsx
  client/components/Admin/Enterprises/List/Shared/helpers.js
  client/components/Admin/Enterprises/List/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Cru 3554/add button label dropdown in customize widget setting (#509)
  client/components/Settings/Practice/OnlineBooking/PreferencesForm.jsx
  client/components/Settings/Practice/OnlineBooking/index.jsx
  client/components/Settings/Practice/OnlineBooking/styles.scss
  client/components/library/PropTypeShapes/accountShape.js
  client/entities/models/Account.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CBUG-1845 - Patient Profile Settings - Reminders (#512)
  client/components/Settings/Donna/Reminders/RemindersItem/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

feat: change button label according to textOption provided (#511)
  client/widget/index.js
  client/widget/ui.js
  public/styles/widget.css
  server/routes/widget.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix: migration execution for PR env (#513)
  Jenkinsfile
Due: none

feat: add EM API_SERVER variable to frontend (#516)
  Jenkinsfile
Due: none

CRU-3697 - Waitlist UI pagination pre and after implementaion performance (#515)
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-3553/upgrade node and run tests (#514)
  .babelrc
  .github/PULL_REQUEST_TEMPLATE
  .nvmrc
  README.md
  client/components/Chat/MessageContainer/MessageTextArea/index.test.jsx
  client/components/library/EnabledFeature/index.test.jsx
  client/reducers/__snapshots__/alerts.test.js.snap
  client/reducers/__snapshots__/chat.test.js.snap
  client/reducers/__snapshots__/entities.test.js.snap
  client/reducers/auth/__snapshots__/index.test.js.snap
  client/reducers/featureFlags/__snapshots__/index.test.js.snap
  client/reducers/widgetNavigation/__snapshots__/index.test.js.snap
  infra/Dockerfile
  jest.config.js
  package-lock.json
  package.json
  tests/util/jestSetup.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-3677 remove user session from local storage (#517)
  client/components/Admin/Enterprises/List/Shared/helpers.js
  client/thunks/auth/index.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Cru 3556/change button label according to text option provided (#519)
  client/widget/ui.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-3712 - Reply from patient to the practice is hiding under the chatMessageForm (#521)
  client/components/Chat/MessageContainer/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc
