Repository saumsh100/newFrontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

fix Default state of some tabs (#1070)
  client/components/library/AppointmentPopover/reskin-styles.scss
  client/components/library/PatientPopover/PatientProfile.jsx
  client/components/library/PatientPopover/reskin-styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

waitlist-mfe-css-fixes | z-index fix for modals. (#1094)
  client/components/Schedule/Header/index.jsx
  client/components/library/Modal/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

5.25.1 (#1091)
  package-lock.json
  package.json
Due: none

increment jenkins pipeline for online Scheduler URLs (#1096)
  Jenkinsfile
Due: none

feat: remove reset password from Add Practice Owner (#1093)
  client/components/Admin/Enterprises/CreateAccount/AddUser/index.jsx
  client/styles/default.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

fix z-index (#1098)
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/reskin-styles.scss
Due: npm run format, npm run format:css

Cru 7584/count badges for tabs and navitems (#1101)
  package-lock.json
  package.json
Due: none

Token for WaitlistMFE (#1104)
  client/thunks/auth/index.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-2611: Donna sent reminders (#1102)
  client/components/Patients/PatientInfo/Timeline/EventComponents/ReminderEvent.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Change required for waitlist MFE (#1105)
  client/thunks/auth/index.js
  client/util/httpClient.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

update component library (#1109)
  package-lock.json
  package.json
Due: none

update ag-grid (#1112)
  package-lock.json
  package.json
Due: none

remove cross button (#1114)
  client/components/Schedule/Header/index.jsx
  client/components/Schedule/Header/reskin-styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Cru 7767/sidebar style and behavior (#1111)
  client/actions/toolbar.js
  client/components/MainRegion/reskin-styles.scss
  client/components/MainRegion/styles.scss
  client/components/NavList/index.jsx
  client/components/NavList/reskin-styles.scss
  client/components/NavRegion/index.jsx
  client/components/NavRegion/reskin-styles.scss
  client/components/NavRegion/styles.scss
  client/components/TopBar/AdaptiveLogo.jsx
  client/components/TopBar/index.jsx
  client/components/TopBar/reskin-styles.scss
  client/components/TopBar/styles.scss
  client/components/library/StandardButton/index.jsx
  client/constants/index.js
  client/containers/DashboardApp.jsx
  client/containers/NavRegionContainer.jsx
  client/containers/TopBarContainer.jsx
  client/containers/styles.scss
  client/reducers/toolbar.js
  client/styles/ui-reskin.scss
  public/images/icons/chevrons-left.svg
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Cru 7767/sidebar style and behavior (#1115)
  client/components/TopBar/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-7838: component library version changed. (#1116)
  package-lock.json
  package.json
Due: none

CRU-7902 (#1119)
  client/components/TopBar/index.jsx
  client/components/TopBar/reskin-styles.scss
  client/components/library/Tabs/TabContent.jsx
  client/components/library/Tabs/index.jsx
  client/components/library/Tabs/reskin-styles.scss
  client/components/library/Tabs/styles.scss
  client/containers/DashboardApp.jsx
  client/containers/styles.scss
  client/styles/default.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

fix: add flex-direction column (#1120)
  client/components/library/Tabs/reskin-styles.scss
Due: npm run format, npm run format:css

feat: change logo to behave as a button (#1121)
  client/components/NavRegion/reskin-styles.scss
  client/components/TopBar/AdaptiveLogo.jsx
  client/components/TopBar/LogoButton.jsx
  client/routes/Dashboard.jsx
  package-lock.json
  package.json
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

fix: Invite user form body (#1123)
  client/components/Settings/Practice/Users/index.jsx
  client/components/Settings/Practice/Users/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CBUG-2750 : Check for reasonText (#1125)
  client/components/Schedule/Header/Waitlist/WaitlistForm/index.jsx
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/filterFunctions.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Cru 7641/practice switcher (#1128)
  client/components/TopBar/LogoButton.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-6441-Tag the last text message by the user that sent the message in the message preview (#1126)
  client/components/Chat/ChatList/ChatListItem/index.jsx
  client/components/Chat/ChatList/ChatListItem/reskin-styles.scss
  client/components/library/Avatar/index.jsx
  public/images/chatDonna.svg
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-7596: chat history date enhancement (#1124)
  client/components/Chat/MessageContainer/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix-sending-state (#1130)
  client/components/Chat/ChatList/ChatListItem/index.jsx
  client/components/Chat/ChatList/ChatListItem/reskin-styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-7997_CCL_version_upgrade | CCL Version upgrade to 3.1.1 (#1131)
  package-lock.json
  package.json
Due: none

CRU-7967: create ff to use communication service (#1129)
  client/micro-front-ends/settings/workflow.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU- 7739-Change Date format in the message preview (#1134)
  client/components/Chat/ChatList/ChatListItem/index.jsx
  client/components/Chat/ChatList/ChatListItem/reskin-styles.scss
  client/styles/ui-reskin.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Cru 6443: Ability to send digital forms from the chat page (#1137)
  client/components/Chat/MessageContainer/MessageTextArea/index.jsx
  client/components/Chat/MessageContainer/MessageTextArea/searchableUrlFormList/SearchableUrlFormList.jsx
  client/components/Chat/MessageContainer/MessageTextArea/searchableUrlFormList/searchableUrlFomList.scss
  client/components/Chat/MessageContainer/MessageTextArea/styles.scss
  client/components/GraphQL/GraphQLChat/formListInChat.jsx
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

add spacing in name (#1140)
  client/components/Chat/ChatList/ChatListItem/reskin-styles.scss
Due: npm run format, npm run format:css

CRU-6316 | Add additional Practitioner Types in practitioner settings (#1139)
  client/components/Settings/Practitioners/PractitionerTabs/PractitionerBasicData/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG- 2774 Error message on the chat list (#1142)
  client/components/Chat/ChatList/ChatListItem/index.jsx
  client/components/Chat/ChatList/ChatListItem/reskin-styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Css changes for add digital form functionality in chat (#1145)
  client/components/Chat/MessageContainer/MessageTextArea/searchableUrlFormList/searchableUrlFomList.scss
  client/components/Chat/MessageContainer/MessageTextArea/styles.scss
Due: npm run format, npm run format:css

CRU 8010-FE : Allow users to add a reason for rejecting an online appointment request (#1141)
  client/actions/schedule.js
  client/components/Requests/RequestList.jsx
  client/components/Requests/RequestListItem.jsx
  client/components/Schedule/RejectAppointment/index.jsx
  client/components/Schedule/RejectAppointment/styles.scss
  client/components/Schedule/index.jsx
  client/components/library/Alert/index.jsx
  client/components/library/Alert/styles.scss
  client/components/library/DropdownSelect/index.jsx
  client/components/library/Modal/styles.scss
  client/components/library/ScheduleCalendar/index.jsx
  client/components/library/StandardButton/index.jsx
  client/components/library/StandardButton/styles.scss
  client/components/library/TextArea/reskin-styles.scss
  client/constants/index.js
  client/containers/ScheduleContainer.jsx
  client/containers/styles.scss
  client/reducers/schedule.js
  client/styles/ui-reskin.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-8082: Add instagram Url field to general form (#1148)
  client/components/Settings/Practice/General/GeneralForm.jsx
  client/components/Settings/Practice/General/index.jsx
  client/components/library/PropTypeShapes/accountShape.js
  client/entities/models/Account.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Fix-reject-css (#1150)
  client/components/Chat/ChatList/ChatListItem/index.jsx
  client/components/Chat/ChatList/ChatListItem/reskin-styles.scss
  client/components/Schedule/RejectAppointment/index.jsx
  client/components/Schedule/RejectAppointment/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

fix-toast-message-css (#1151)
  client/components/Requests/RequestList.jsx
  client/components/library/Alert/index.jsx
  client/components/library/Alert/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

add-background-color (#1153)
  client/components/Schedule/RejectAppointment/styles.scss
Due: npm run format, npm run format:css

add scroll bar n practitioners list (#1157)
  client/components/Schedule/RejectAppointment/index.jsx
  client/components/Settings/Practitioners/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Path conditions:
  npm run format: (any of: client/**/*.scss) or (any of: client/**/*.{js,jsx})
  npm run format:css: any of: client/**/*.scss
  prettier --write: any of: client/**/*.{js,jsx}
  eslint --fix -c .eslintrc: any of: client/**/*.{js,jsx}
