Repository saumsh100/newFrontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

.lintstagedrc:

{
  "client/**/*.scss": [
    "npm run format",
    "npm run format:css",
    "git add"
  ],
  "client/**/*.{js,jsx}": [
    "npm run format",
    "prettier --write",
    "eslint --fix -c .eslintrc",
    "git add"
  ]
}

CBUG-1531 fix waitlist preferred times issue (#389)
  client/components/Schedule/Header/Waitlist/WaitlistForm/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

4.24.0 (#397)
  package-lock.json
  package.json
Due: none

Display patient insights (#399)
  client/components/Dashboard/PatientInsightsContainer/Insights/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-1574 - Gray screen appear when user navigate to schedule page (#400)
  client/components/library/util/TimeOptions.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Cbug 1570 practitioner office hours are not displaying office time on the calendars (#401)
  client/components/library/ScheduleCalendar/DateSchedule.jsx
  client/components/library/ScheduleCalendar/calendarDay.jsx
  client/components/library/ScheduleCalendar/index.jsx
  client/components/library/util/datetime.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-1574_Gray-screen-appear-when-user-navigate-to-schedule-page (#402)
  client/components/Schedule/DayView/TimeSlot/helpers.js
  client/components/Settings/Practice/General/index.jsx
  client/components/library/index.js
  client/components/library/util/TimeOptions.js
  client/components/library/util/datetime.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-1580 - Unable to create an online booking request because of error: PatientUser.js:2 Uncaught ReferenceError: Cannot access 's' before initializations (#403)
  client/entities/models/PatientUser.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-1584_Error-is-displayed-after-user-type-in-notes-and-click-next-during-online-booking-request (#404)
  client/components/Widget/Booking/Review/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

4.25.0 (#405)
  package-lock.json
  package.json
Due: none

CBUG-1549 - Lower case y and g are cut off at the bottom on patient names in profiles (#407)
  client/components/Patients/PatientInfo/TopDisplay/styles.scss
Due: npm run format, npm run format:css

4.25.1 (#408)
  package-lock.json
  package.json
Due: none

Update styles.scss (#409)
  client/components/Patients/PatientInfo/TopDisplay/styles.scss
Due: npm run format, npm run format:css

CBUG-1530: Times filter in Waitlist not showing any results (#391)
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/filterFunctions.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

[incorrect-dashboard-url] updated dashboard url (#411)
  client/socket/connectSocketToStoreLogin.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-1555 - Update fetch reviews todo request (#414)
  client/thunks/dashboard.js
  package-lock.json
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

[incorrect-dashboard-url] instead of changing the route which broke history push, added a redirect in the router for /dashboard to / (#413)
  client/routes/Dashboard.jsx
  client/socket/connectSocketToStoreLogin.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-1555 - Update reviews todo request startTime (#415)
  client/thunks/dashboard.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Revert "[incorrect-dashboard-url] instead of changing the route which broke history push, added a redirect in the router for /dashboard to / (#413)" (#418)
  client/routes/Dashboard.jsx
  client/socket/connectSocketToStoreLogin.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Revert "[incorrect-dashboard-url] updated dashboard url (#411)" (#419)
  client/socket/connectSocketToStoreLogin.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

[revert-cbug-1610-3] (#420)
  client/routes/Dashboard.jsx
  client/socket/connectSocketToStoreLogin.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

[incorrect-dashboard-url] implemented route to be redirected in the router only (#421)
  client/socket/connectSocketToStoreLogin.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

4.25.2 (#422)
  package-lock.json
  package.json
Due: none

Hotfix prod build failing (#425)
  package-lock.json
  package.json
  webpack/helpers/moduleLoaders.js
  webpack/shared/common.js
  webpack/webpack.config.ccp.js
  webpack/webpack.isolated.common.js
  webpack/webpack.prod.js
Due: none

Hotfix url and proxy for local dev with local backend (#427)
  .env.example
  README.md
  package-lock.json
  server/routes/widget.js
  server/utils.js
  webpack/helpers/utils.js
  webpack/shared/common.js
  webpack/shared/dev-server.config.js
  webpack/webpack.common.js
  webpack/webpack.config.ccp.js
Due: none

Feature: DEVOPS-1584 migrate pipeline to jenkins only for open pr (#424)
  .gitignore
  Jenkinsfile
  client/util/getApiHost.js
  client/util/graphqlEnvironment.js
  client/util/httpClient.js
  client/util/hub.js
  infra/Dockerfile
  infra/nginx/nginx.conf
  infra/terraform/api-env-vars.json
  infra/terraform/backend-env-vars.json
  infra/terraform/backend.tf
  infra/terraform/container-definition.json
  infra/terraform/databases/container_definition.json
  infra/terraform/databases/postgres-env-vars.json
  infra/terraform/main.tf
  infra/terraform/providers.tf
  infra/terraform/variables.tf
  infra/terraform/versions.tf
  package-lock.json
  package.json
  webpack/helpers/utils.js
  webpack/shared/common.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Hotfix production build with backend (#428)
  package-lock.json
  package.json
  webpack/helpers/moduleLoaders.js
  webpack/helpers/paths.js
  webpack/helpers/utils.js
  webpack/shared/common.js
  webpack/shared/dev-server.config.js
  webpack/shared/webpack.common.js
  webpack/webpack.common.js
  webpack/webpack.config.ccp.js
  webpack/webpack.config.widget.js
  webpack/webpack.isolated.common.js
  webpack/webpack.prod.js
Due: none

Cru 2375/feature flag workflows (#429)
  .env.example
  .eslintrc
  .prettierrc
  client/components/library/PropTypeShapes/historyShape.js
  client/components/library/PropTypeShapes/locationShape.js
  client/micro-front-ends/micro-front-end.jsx
  client/micro-front-ends/settings/workflow.jsx
  client/routes/Dashboard/Settings.jsx
  webpack/shared/webpack.common.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-1598 Partial Matches not being detected (#426)
  client/thunks/schedule.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

updated MicroFrontend component to fetch CSS filename as well JS, removed console.log statements (#432)
  client/micro-front-ends/micro-front-end.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix: bad google review frontend filter (#430)
  client/components/Reputation/Reviews/filterOptions.js
  client/components/Reputation/Reviews/index.jsx
  package-lock.json
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

feat: add new variable (#431)
  Jenkinsfile
  infra/Dockerfile
Due: none

udpated passed state to include user and role (#434)
  client/micro-front-ends/settings/workflow.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-1624 - Separate cc.js(widget), online booking and reviews page from backend (#433)
  Jenkinsfile
  client/util/hub.js
  infra/Dockerfile
  infra/nginx/nginx.conf
  package-lock.json
  package.json
  server/config.js
  server/helpers/handleErrors.js
  server/helpers/utils.js
  server/index.js
  server/routes/my.js
  server/routes/widget.js
  webpack/helpers/moduleLoaders.js
  webpack/helpers/paths.js
  webpack/helpers/utils.js
  webpack/shared/dev-server.config.js
  webpack/shared/webpack.common.js
  webpack/webpack.config.ccp.js
  webpack/webpack.config.server.js
  webpack/webpack.config.widget.js
  webpack/webpack.prod.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Cbug 1624 separate cc.js(widget), online booking and reviews page from backend (dynamic subdomain) (#435)
  .env.example
  Jenkinsfile
  client/components/Settings/Practice/OnlineBooking/SchedulingPreviewForm.jsx
  client/components/Settings/Practice/OnlineBooking/index.jsx
  infra/Dockerfile
  server/config.js
  server/index.js
  webpack/shared/dev-server.config.js
  webpack/shared/webpack.common.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Cbug 1624 separate cc.js(widget), online booking and reviews page from backend (fix widget variables) (#436)
  server/config.js
  server/helpers/utils.js
  server/index.js
  server/routes/widget.js
  webpack/shared/webpack.common.js
Due: none

Fix: mode analytics variables (#437)
  Jenkinsfile
  infra/Dockerfile
Due: none
