Repository saumsh100/newFrontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

.lintstagedrc:

{
  "client/**/*.scss": [
    "npm run format",
    "npm run format:css",
    "git add"
  ],
  "client/**/*.{js,jsx}": [
    "npm run format",
    "prettier --write",
    "eslint --fix -c .eslintrc",
    "git add"
  ]
}

feat: CRU-6440/retain-typed-text-messages-when-navigating-away-from-chat-page (#930)
  client/components/Chat/MessageContainer/MessageTextArea/index.jsx
  client/components/Chat/MessageContainer/PendingMessages/PendingMessages.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-5570_Updeted | Addes disabled buttons. (#932)
  client/components/Widget/Booking/Waitlist/SelectDates/index.jsx
  client/components/Widget/Booking/Waitlist/SelectDates/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

fix: 🐛 Fixing issue in sending message to a online prospect (#937)
  client/components/Chat/MessageContainer/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

update Prod FE environment variable API_SERVER for DEVOPS-1897 (#935)
  Jenkinsfile
Due: none

CBUG-2492 | Follow-Ups Tooltip Updated (#941)
  client/components/Patients/PatientTable/HeaderSection/SmartFilters/HelpTextLookupTable.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

bump pipeline library version and fix useIdentityAccessProxy conditional (#940)
  Jenkinsfile
Due: none

CRU-5570_AlldayUpdate | Update the all day condition. (#943)
  client/components/Widget/Booking/Waitlist/SelectDates/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Restored push notification feature for online appointment request (#947)
  client/socket/connectSocketToStoreLogin.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix: CBUG-2464 - socket connection (#952)
  client/socket/connectSocketToStoreLogin.js
  client/socket/index.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix: CBUG-2464 - send the event authenticate after reconnect (#954)
  client/socket/connectSocketToStoreLogin.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-2496 | fixing issue error displayed when clicking on patient profile (#959)
  client/components/Patients/PatientInfo/Timeline/EventComponents/RecallEvent.jsx
  client/components/Patients/PatientInfo/Timeline/EventComponents/ReviewEvent.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

DEVOPS-2401 - Add meta to validate domains in prod (#963)
  public/index.html
Due: none

CRU-6954 - Add notification for chat messages (#965)
  client/thunks/chat.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Used open API for getting schedules in widget (#969)
  client/components/Widget/Booking/Waitlist/SelectDates/thunks.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Cru 5525: add feature flag for online scheduler (#974)
  .env.example
  client/components/Settings/Practice/OnlineBooking/SchedulingPreviewForm.jsx
  client/components/Settings/Practice/OnlineBooking/index.jsx
  infra/Dockerfile
  webpack/shared/webpack.common.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-6077: Create form submission feature flag (#981)
  client/micro-front-ends/settings/forms.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

feat: Enable Enterprise Management in CCP frontend (#997)
  .babelrc
  client/apps/default.js
  client/containers/DashboardApp.jsx
  client/micro-front-ends/MicroFrontendRenderer.jsx
  client/routes/Dashboard.jsx
  client/styles/default.scss
  package-lock.json
  package.json
  webpack/helpers/moduleLoaders.js
  webpack/webpack.config.ccp.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Update Jenkins Pipeline tag (#1004)
  Jenkinsfile
Due: none

fix: npm cache on jenkin servers (#1007)
  package-lock.json
  package.json
Due: none

Cru 7044 revert commit due to prod build issue (#1008)
  .babelrc
  client/apps/default.js
  client/containers/DashboardApp.jsx
  client/micro-front-ends/MicroFrontendRenderer.jsx
  client/routes/Dashboard.jsx
  client/styles/default.scss
  package-lock.json
  package.json
  webpack/helpers/moduleLoaders.js
  webpack/webpack.config.ccp.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-6874 : Changes for sending additional info in waitspot API (#998)
  client/components/Schedule/ConfirmAppointmentRequest/index.jsx
  client/components/Widget/Booking/Review/index.jsx
  client/thunks/availabilities.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-7176 - Last adjustments before deploy (#1016)
  client/components/NavList/reskin-styles.scss
  client/components/PatientSuggestion/index.jsx
  client/components/Patients/PatientTable/reskin-styles.scss
  client/components/Reports/index.jsx
  client/components/TopBar/AdaptiveLogo.jsx
  client/components/TopBar/reskin-styles.scss
  client/components/library/DropdownMenu/index.jsx
  client/components/library/DropdownMenu/reskin-styles.scss
  client/components/library/ui-kit/DayPicker/styles.scss
  client/components/library/ui-kit/DropdownSelect/styles.scss
  client/styles/default.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Cru 7065/add media pixel for tracking (#1006)
  client/widget/carecru.js
  client/widget/index.js
  server/routes/widget.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG-2564 - Intelligence Reports Pull 1 Extra Day in Data (#1015)
  client/components/ReportParametersForm/index.jsx
  package-lock.json
  package.json
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CBUG 2564/intelligence page with one extra day (#1018)
  client/components/ReportParametersForm/index.jsx
  client/components/library/ui-kit/DayPicker/DayRangeWithHelpers.jsx
  client/components/library/ui-kit/DayPicker/defaultRangeHelpers.js
  package-lock.json
  package.json
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

feat: CRU/7005, CRU/7016, integrating mfe (#996)
  .env.example
  client/components/Schedule/Header/index.jsx
  client/containers/ScheduleContainer.jsx
  client/routes/Dashboard.jsx
  infra/Dockerfile
  webpack/webpack.config.ccp.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-6973 - fix: zendesk visitor issue (#999)
  client/apps/Dashboard.jsx
  client/apps/DashboardEntry.jsx
  client/thunks/auth/index.js
  public/scripts/zendesk.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix: schedule switch toggle inverted behavior (#1019)
  client/components/library/SwitchToggler/index.jsx
  client/components/library/SwitchToggler/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

fix: change logo file (#1020)
  client/components/TopBar/reskin-styles.scss
  public/images/carecru_logo_collapsed_reskin.svg
  public/images/carecru_logo_reskin.svg
Due: npm run format, npm run format:css

fix: dropdown width (#1022)
  client/styles/default.scss
Due: npm run format, npm run format:css

fix: set arrow svg height to 13px (#1021)
  client/components/library/ScheduleCalendar/navbar.scss
Due: npm run format, npm run format:css

fix: appointment modal header background color (#1023)
  client/components/Settings/Practice/General/ChatSection/index.jsx
  client/components/Settings/Practice/General/styles.scss
  client/components/library/AppointmentPopover/AppointmentInfo.jsx
  client/components/library/AppointmentPopover/reskin-styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Reskin blocker changes (#1024)
  .babelrc
  client/components/Chat/ChatMenu/index.jsx
  client/components/Chat/ChatMenu/reskin-styles.scss
  client/components/Chat/MessageContainer/MessageTextArea/index.jsx
  client/components/Chat/MessageContainer/MessageTextArea/styles.scss
  client/components/Chat/MessageContainer/styles.scss
  client/components/Chat/reskin-styles.scss
  client/components/Chat/styles.scss
  client/components/Widget/components/Button/styles.scss
  client/components/library/DayPicker/index.jsx
  client/components/library/ScheduleCalendar/ScheduleDrawer.jsx
  client/components/library/ScheduleCalendar/index.jsx
  client/components/library/StandardButton/styles.scss
  client/styles/default.scss
  client/styles/ui-kit.scss
  package-lock.json
  package.json
  webpack/helpers/moduleLoaders.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Reskin blocker changes 2 (#1025)
  client/components/Patients/PatientInfo/index.jsx
  client/components/Patients/PatientInfo/styles.scss
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/FilterSegments/DayOfWeekSegment.jsx
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/FilterSegments/PractitionersSegment.jsx
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/FilterSegments/ReasonSegment.jsx
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/FilterSegments/reskin-styles.scss
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/WaitListTableHeader/index.jsx
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/WaitListTableHeader/reskin-headerStyles.scss
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/reskin-styles.scss
  client/components/Schedule/Header/Waitlist/tableStyles.scss
  client/components/Settings/Practice/Users/styles.scss
  client/components/library/DropdownMenu/reskin-styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

fix: waitlist layout details (#1028)
  client/components/Schedule/Header/Waitlist/NextWaitlist.jsx
  client/components/Schedule/Header/Waitlist/WaitlistForm/index.jsx
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/WaitListTableHeader/index.jsx
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/WaitListTableHeader/reskin-headerStyles.scss
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/cells.jsx
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/index.jsx
  client/components/Schedule/Header/Waitlist/tableStyles.scss
  client/components/Schedule/Header/reskin-styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CBUG-2586 - back button in schedule calendar (#1027)
  client/components/Patients/PatientInfo/ActionsDropdown/styles.scss
  client/components/Settings/Practice/OfficeHours/OfficeHoursCalendar.jsx
  client/components/Settings/Practitioners/PractitionerTabs/PractitionerOfficeHours/PractitionerHoursCalendar.jsx
  client/components/library/DropdownMenu/reskin-styles.scss
  client/components/library/ScheduleCalendar/ScheduleDrawer.jsx
  client/components/library/ScheduleCalendar/drawer.scss
  client/components/library/ScheduleCalendar/index.jsx
  client/components/library/StandardButton/styles.scss
  client/components/library/ui-kit/DropdownSelect/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Reskin blocker changes 2 (#1026)
  client/components/Patients/PatientTable/SideBarFilters/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU 7221 (#1029)
  client/components/Reputation/Listings/Cards/Information/styles.scss
  client/components/Reputation/Listings/Cards/Score/styles.scss
  client/components/Reputation/Listings/Cards/Total/styles.scss
  client/components/Reputation/Listings/index.jsx
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-7305 - reskinning fixes inconsistences (#1030)
  client/components/Dashboard/DonnaToDoListContainer/DonnaToDoTabs/index.jsx
  client/components/Dashboard/DonnaToDoListContainer/DonnaToDoTabs/reskin-styles.scss
  client/components/Dashboard/newStyles.scss
  client/components/Patients/PatientInfo/ActionsDropdown/styles.scss
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/WaitListTableHeader/index.jsx
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/WaitListTableHeader/reskin-headerStyles.scss
  client/components/library/AutoCompleteForm/theme.scss
  client/components/library/DayPicker/index.jsx
  client/components/library/ui-kit/DonnaMessage/index.jsx
  public/images/donna.svg
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc
