Repository saumsh100/newFrontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

.lintstagedrc:

{
  "client/**/*.scss": [
    "npm run format",
    "npm run format:css",
    "git add"
  ],
  "client/**/*.{js,jsx}": [
    "npm run format",
    "prettier --write",
    "eslint --fix -c .eslintrc",
    "git add"
  ]
}

feat: CRU-4058 - avatar user sidebar (#614)
  client/apps/ReviewsEntry.jsx
  client/components/Patients/PatientInfo/EditDisplay/SettingsForm/index.jsx
  client/components/Patients/PatientInfo/index.jsx
  client/components/Schedule/Header/Waitlist/helpers.jsx
  client/components/Widget/index.jsx
  client/containers/DashboardAppV2/DashboardAppV2.jsx
  client/containers/DashboardAppV2/components/MainRegionContainerV2.jsx
  client/containers/DashboardAppV2/components/NavListV2/index.jsx
  client/containers/DashboardAppV2/components/NavListV2/styles.scss
  client/containers/DashboardAppV2/components/NavRegionContainerV2.jsx
  client/containers/DashboardAppV2/components/TopBarContainerV2/TopBarContainerV2.jsx
  client/containers/DashboardAppV2/components/TopBarContainerV2/TopBarV2/AdaptiveLogo.jsx
  client/containers/DashboardAppV2/components/TopBarContainerV2/TopBarV2/MyFollowUpsButton/MyFollowUpsButton.jsx
  client/containers/DashboardAppV2/components/TopBarContainerV2/TopBarV2/MyFollowUpsButton/index.jsx
  client/containers/DashboardAppV2/components/TopBarContainerV2/TopBarV2/MyFollowUpsButton/styles.scss
  client/containers/DashboardAppV2/components/TopBarContainerV2/TopBarV2/index.jsx
  client/containers/DashboardAppV2/components/TopBarContainerV2/TopBarV2/styles.scss
  client/containers/DashboardAppV2/components/TopBarContainerV2/index.js
  client/containers/DashboardAppV2/components/index.js
  client/containers/DashboardAppV2/index.js
  client/containers/DashboardAppV2/styles-v2.scss
  client/reducers/availabilities.js
  client/routes/Dashboard.jsx
  client/thunks/availabilities.js
  package-lock.json
  package.json
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

feat: support authentication via oathkeeper (#623)
  client/thunks/auth/index.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-4876 | Prevent deletion/removal of default reason. (#624)
  client/components/Settings/Reasons/ServiceDataContainer.jsx
  client/components/Settings/Reasons/ServiceDataItem.jsx
  client/components/Settings/Reasons/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Fix:CRU-4942 Ability to hover over all Waitlist fields to expand data (#630)
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/cells.jsx
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Cru 4082/phone lookup UI display warning indicators in chat (#631)
  client/components/Chat/MessageContainer/MessageBubble/index.jsx
  client/components/Chat/MessageContainer/MessageBubble/styles.scss
  client/components/Chat/MessageContainer/MessageTextArea/index.jsx
  client/components/Chat/MessageContainer/index.jsx
  client/thunks/fetchEntities/createEntityRequest.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

feat: logout via kratos with em phase 1 (#632)
  client/thunks/auth/index.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-4992 remove dashboard-v2 componentns (#634)
  client/components/MainRegion/Electron/index.jsx
  client/components/MainRegion/Electron/styles.scss
  client/components/NavList/index.jsx
  client/components/NavList/styles.scss
  client/components/NavRegion/Electron/index.jsx
  client/components/NavRegion/Electron/styles.scss
  client/containers/DashboardApp.jsx
  client/containers/DashboardAppV2/DashboardAppV2.jsx
  client/containers/DashboardAppV2/components/MainRegionContainerV2.jsx
  client/containers/DashboardAppV2/components/NavListV2/index.jsx
  client/containers/DashboardAppV2/components/NavListV2/styles.scss
  client/containers/DashboardAppV2/components/NavRegionContainerV2.jsx
  client/containers/DashboardAppV2/components/TopBarContainerV2/TopBarContainerV2.jsx
  client/containers/DashboardAppV2/components/TopBarContainerV2/TopBarV2/AdaptiveLogo.jsx
  client/containers/DashboardAppV2/components/TopBarContainerV2/TopBarV2/MyFollowUpsButton/MyFollowUpsButton.jsx
  client/containers/DashboardAppV2/components/TopBarContainerV2/TopBarV2/MyFollowUpsButton/index.jsx
  client/containers/DashboardAppV2/components/TopBarContainerV2/TopBarV2/MyFollowUpsButton/styles.scss
  client/containers/DashboardAppV2/components/TopBarContainerV2/TopBarV2/index.jsx
  client/containers/DashboardAppV2/components/TopBarContainerV2/TopBarV2/styles.scss
  client/containers/DashboardAppV2/components/TopBarContainerV2/index.js
  client/containers/DashboardAppV2/components/index.js
  client/containers/DashboardAppV2/index.js
  client/containers/DashboardAppV2/styles-v2.scss
  client/containers/MainRegionContainer.jsx
  client/containers/NavRegionContainer.jsx
  client/containers/TopBarContainer.jsx
  client/containers/styles.scss
  client/routes/Dashboard.jsx
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

fix: phone lookup ui display component styling (#637)
  client/components/Chat/PatientInfo/About/PhoneLookupComponent.jsx
  client/components/Chat/PatientInfo/About/index.jsx
  client/components/Chat/PatientInfo/About/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-4039/Forms-notifications (#639)
  .env.example
  client/components/GraphQL/FormNotifications/GetNotificationCount.jsx
  client/components/GraphQL/FormNotifications/SubscribeNotifications.jsx
  client/components/GraphQLForms/clientConfig.js
  client/components/GraphQLForms/useGetNotificationsCount.jsx
  client/components/GraphQLForms/useSubscribeSubmissionNotifications.jsx
  client/components/Settings/index.jsx
  client/components/TopBar/FormNotificationsButton/index.jsx
  client/components/TopBar/FormNotificationsButton/styles.scss
  client/components/TopBar/index.jsx
  webpack/shared/webpack.common.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

Revert "CRU-4039/Forms-notifications (#639)" (#640)
  .env.example
  client/components/GraphQL/FormNotifications/GetNotificationCount.jsx
  client/components/GraphQL/FormNotifications/SubscribeNotifications.jsx
  client/components/GraphQLForms/clientConfig.js
  client/components/GraphQLForms/useGetNotificationsCount.jsx
  client/components/GraphQLForms/useSubscribeSubmissionNotifications.jsx
  client/components/Settings/index.jsx
  client/components/TopBar/FormNotificationsButton/index.jsx
  client/components/TopBar/FormNotificationsButton/styles.scss
  client/components/TopBar/index.jsx
  webpack/shared/webpack.common.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-4876_UpdateTooltip | Updated Tooltip Message as per suggestions. (#641)
  client/components/Settings/Reasons/ServiceDataContainer.jsx
  client/components/Settings/Reasons/ServiceDataItem.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Fix:CRU-4991-When-message-marked-as-unread-it's-not-highlighted-bold (#642)
  client/components/Chat/ChatList/ChatListItem/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-3325 | Enable practices to have access to the settings they frequ… (#633)
  client/components/Settings/Practice/General/DisplayName.jsx
  client/components/Settings/Practice/General/GeneralForm.jsx
  client/components/Settings/Practice/General/index.jsx
  client/components/Settings/Practice/General/styles.scss
  client/components/Settings/Practice/SuperAdmin/SuperAdminForm.jsx
  client/components/Settings/Practice/SuperAdmin/index.jsx
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-5046/update pipeline lib version (#643)
  Jenkinsfile
Due: none

CRU-4866_UI_Improvements | Implemented Suggested improvements. (#636)
  client/components/ModuleError/index.jsx
  client/components/ModuleError/module-error.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-5046-revert-forms-navigation (#644)
  .env.example
  client/components/GraphQL/FormNotifications/GetNotificationCount.jsx
  client/components/GraphQL/FormNotifications/SubscribeNotifications.jsx
  client/components/GraphQLForms/clientConfig.js
  client/components/GraphQLForms/useGetNotificationsCount.jsx
  client/components/GraphQLForms/useSubscribeSubmissionNotifications.jsx
  client/components/Settings/index.jsx
  client/components/TopBar/FormNotificationsButton/index.jsx
  client/components/TopBar/FormNotificationsButton/styles.scss
  client/components/TopBar/index.jsx
  webpack/shared/webpack.common.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

(CRU-4280) Set the selectedPatient variable on the top and outside of 'if' and 'else' block (#646)
  client/components/WaitingRoom/WaitingRoomList/WaitingRoomListItem/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-5046/update docker vars to add FORMS env vars (#648)
  infra/Dockerfile
Due: none

feat: Cru 3144/phone lookup display phone number status in patient management (#645)
  client/components/Chat/PatientInfo/About/PhoneLookupComponent.jsx
  client/components/Chat/PatientInfo/About/index.jsx
  client/components/Chat/PatientInfo/About/styles.scss
  client/components/Patients/PatientInfo/ActionsDropdown/index.jsx
  client/components/Patients/PatientInfo/LeftInfoDisplay/PersonalTab/ContactSection.jsx
  client/components/Patients/PatientInfo/LeftInfoDisplay/PersonalTab/index.jsx
  client/components/Schedule/DayView/TimeSlot/AppointmentPopover/index.jsx
  client/components/library/PointOfContactBadge/PhoneLookupBadge.jsx
  client/components/library/PropTypeShapes/patient.js
  client/entities/models/Patient.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-5046 - update feature flag for submissions (#649)
  client/components/TopBar/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-4060 Practice Switcher (#638)
  client/containers/DashboardApp.jsx
  client/micro-front-ends/MicroFrontendRenderer.jsx
  client/routes/Dashboard.jsx
  client/routes/MicroFrontend/EnterpriseManagementMFE.jsx
  client/routes/MicroFrontend/ErrorFallback.jsx
  package-lock.json
  package.json
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix: Cru 3144/phone lookup display phone number status in patient management (#652)
  client/components/Chat/PatientInfo/About/PhoneLookupComponent.jsx
  client/components/library/PointOfContactBadge/PhoneLookupBadge.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

fix: Cru 4082/phone lookup UI display warning indicators in chat (#651)
  client/components/Chat/MessageContainer/MessageBubble/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-5046/pass feature flag to MFE Forms app (#650)
  client/micro-front-ends/settings/forms.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Filter Icon should be clearer (#653)
  client/components/Schedule/Header/index.jsx
  client/components/Schedule/Header/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-5072 - Update form-service URL for WebSockets (#656)
  client/components/GraphQLForms/clientConfig.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-5046/update Forms GQL client settings (#657)
  client/components/GraphQLForms/clientConfig.js
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

CRU-5067-Fontsize-colour-of-Availabilities-not-behaving-accordingly | Font size and colour of "Checking for Availabilities" label on booking widget is not behaving accordingly. (#655)
  client/components/Widget/Booking/DateTime/styles.scss
Due: npm run format, npm run format:css

CRU-3325_Updated | Changes made for tooltip in Patient Name, Facebook field tooltip removed and permissions updated for all user edit permission. (#658)
  client/components/Settings/Practice/General/DisplayName.jsx
  client/components/Settings/Practice/General/GeneralForm.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

feat: add maintenance banner (#661)
  client/components/Login/index.jsx
  client/components/Login/styles.scss
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

feat: CRU-3666/ability to edit waitlist entries added by patients (#659)
  client/components/Schedule/Header/Waitlist/AddToWaitlist/index.jsx
  client/components/Schedule/Header/Waitlist/AddToWaitlist/styles.scss
  client/components/Schedule/Header/Waitlist/WaitlistTableWithActions/cells.jsx
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

CRU-4231 | Practitioner that has blank last name is showing as "NULL" when the practitioner is added in an appointment schedule. (#664)
  client/components/library/AppointmentPopover/AppointmentInfo.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

5.8.0 (#660)
  package.json
Due: none

fix: CRU-5129/handle phone lookup in chat when no patient profile (#666)
  client/components/Chat/PatientInfo/About/PhoneLookupComponent.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

feat: CRU-4970/online booking ui enhancements (#665)
  client/components/Settings/Practice/OnlineBooking/IntervalForm.jsx
  client/components/Settings/Practice/OnlineBooking/PreferencesForm.jsx
  client/components/Settings/Practice/OnlineBooking/index.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Fix:CRU-5068-'Notes'-text-being-cut-off-in-online-booking-widget (#662)
  client/components/Widget/Booking/AdditionalInformation/styles.scss
Due: npm run format, npm run format:css

Fix: Cru 5129/handle phone lookup in chat when no patient profile (#667)
  client/components/Chat/PatientInfo/About/PhoneLookupComponent.jsx
  client/components/library/PointOfContactBadge/PhoneLookupBadge.jsx
  client/components/library/PointOfContactBadge/styles.scss
  client/thunks/chat.js
Due: npm run format, npm run format:css, prettier --write, eslint --fix -c .eslintrc

addressed pre commit hook changes (#654)
  client/components/library/ui-kit/DayPicker/DayRangeWithHelpers.jsx
Due: npm run format, prettier --write, eslint --fix -c .eslintrc

Fix:CRU-5111 (#669)
  client/styles/default.scss
Due: npm run format, npm run format:css
